<!-- <div class="button-holder">
  <button  [class.selected]="showaccountBool" (click)="showaccount()"  class="navigationsbuttons">Account</button>
  <button  [class.selected]="showprofileBool"   (click)="showprofile()"   class="showprofile()" class="navigationsbuttons">Profile</button>
</div> -->



<form [formGroup]="updateForm" (ngSubmit)="onSubmit()" *ngIf="showaccountBool">
 
  <div>
    <label for="username">  <div class="icon-wrapper"><img src="../../../assets/images/username.png" alt=""></div>Username</label>
    <input id="username" formControlName="username" [value]="user?.username" type="text" placeholder="username">
  </div>

  <div>
    <label for="emailaddress">  <div class="icon-wrapper"><img src="../../../assets/images/email.png" alt=""></div>Email Address</label>
    <input id="emailaddress" formControlName="emailaddress" [value]="user?.emailaddress" type="email" placeholder="Email address" readonly>
  </div>

  <div>
    <label for="phonenumber"> <div class="icon-wrapper"><img src="../../../assets/images/telephone.png" alt=""></div>Phone Number</label>
    <input id="phonenumber" formControlName="phonenumber" [value]="user?.phonenumber" type="number" placeholder="Phone number">
  </div>

  

 
  <input type="file" class="updatebackgroundimage" id="mediafile" (change)="onProfileImageSelected($event)" style="display: none;" accept="image/*">

  <div class="image-holder" *ngIf="!isprofileimageselected">
  
    <label for="mediafile" class="file-input-label"><img src="../../../assets/images/camera.png" alt=""></label>
    <img *ngIf="user?.profileimage" [src]="'data:image/jpeg;base64,' + user?.profileimage" class="Profile-Image" alt="Profile Image">

  </div>
 
  <img *ngIf="profileimage && isprofileimageselected" [src]="profileimage" alt="Profile Image"  class="Profile-Image">
 
 
 <div class="bottom-btn-holder">

  <button type="button"  (click)="navigatetoresetscreen()">Reset Password</button>
  <button type="submit"     *ngIf="updateForm.valid ">Update</button>

 </div>
</form>







 
