<form [formGroup]="updateForm" (ngSubmit)="onSubmit()">
  <h3>Update details</h3>
  <div>
    <label for="username">Username:</label>
    <input id="username" formControlName="username" [value]="user?.username" type="text">
  </div>

  <div>
    <label for="emailaddress">Email Address:</label>
    <input id="emailaddress" formControlName="emailaddress" [value]="user?.emailaddress" type="email">
  </div>

  <div>
    <label for="phonenumber">Phone Number:</label>
    <input id="phonenumber" formControlName="phonenumber" [value]="user?.phonenumber" type="number">
  </div>

  <div>
    <label for="password">Password:</label>
    <input type="password" id="password" formControlName="password" [value]="user?.password">
  </div>

  <div>
    <label for="reenterpassword">Re-enter Password:</label>
    <input type="password" id="reenterpassword" formControlName="reenterpassword" [value]="user?.password">
  </div>

 
  <img *ngIf="user?.profileimage" [src]="'data:image/jpeg;base64,' + user?.profileimage" alt="Profile Image">
  <button type="submit">Update</button>
</form>
