.image-larger-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color:  rgba(0, 0, 0, 0.788);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.image-larger-container {
  position: relative;
}

.image-larger-container img {
 
  height: 60vh;
  border: 1px solid #ccc;
 
  border-radius: 10px;
}

.navigation-buttons {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
}

.nav-button {
  background-color: rgba(255, 255, 255, 0.8);
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}

.nav-button:hover {
  background-color: rgba(255, 255, 255, 1);
}
.closeicon {
  padding: 15px;
  width: 50px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 50px;
  right: 20px;
  cursor: pointer;
  transition: transform 0.5s, background-color 0.5s;  
}

.closeicon:hover {
  transform: rotate(90deg); 
  background-color:rgba(255, 255, 255, 0.644);
}
