.post-container {
    width: 50%;
    margin: 15px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  
  .post-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
  }
  
  .user-profile {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
  }
  .filepath{
    font-weight: bold;
  }
  .user-info {
    display: flex;
    flex-direction: column;
  }
  
  .username {
    font-weight: bold;
    font-size: 17px;
  }
  .postedtime{
    font-size: 14px;

  }
  
  .user-id {
    color: #666;
  }
  
  .post-body {
    margin-top: 20px;
  }
  
  .post-description {
    font-size: 1.1em;
    margin-bottom: 10px;
  }
  
  .post-date, .post-type {
    color: #999;
    margin-bottom: 10px;
  }
  .post-media{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .linkholder{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
  }
  .post-media img,.linkholder img, .post-media video{
 
    width: 100%;
    height: 50%;
    text-align: center;
    display: block;
    object-fit: cover;  
    border-radius: 10px;
  }
  
  .fab {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #3f51b5;
    color: white;
  }
  

 

 
input[type="text"] {
  width: 100%;
  padding: 15px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 15px;
  box-sizing: border-box;
  font-size: 16px;

}

.commentusername{
  font-size: 13px;
  color: black;
  text-decoration: none;
}
.commentusername:hover{
  text-decoration: underline;
}
.commenttext{
  opacity: 0.7;
  font-size: 15px;
}

.replaytext{
color: var( --primarycolor);
font-size: 13px;
cursor: pointer;

}
.replaytext:hover{
text-decoration: underline;
}

button[type="submit"] {
  padding: 8px;
  background-color: white;  
  border-radius: 50%;  
  border: none;
  margin-left: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);  
  width: 50px; 
  height: 50px; 
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--primary-faded);
}

button[type="submit"] img {
  width: 15px;  
  height: 15px;  
}


button[type="submit"]:hover {
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.3);  
}

.commentinputholder{
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: row;
  align-items: center;
}
input[type="text"]:focus {
  border-color: #007bff;
  outline: none;
}

 .active-buttons-holder{
  margin-top: 15px;
  margin-bottom: 20px;
 }
 


.comments-section {
  margin-top: 20px;
}

.comment {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  position: relative;
}

.comment-header {
  display: flex;
  align-items: center;
}

.comment-userprofile {
  width: 50px;  
  height: 50px;  
  border-radius: 50%; 
  margin-right: 10px;
}

.no-comments {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.comment-info-holder{
  display: flex;
  flex-direction: column;
  align-items: start;
}


.comment-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.comment-userprofile {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.comment-info-holder {
  flex-grow: 1;
}



.dropdown-menu {
  position: absolute;
  right: 0;
  top: 40px;
  background: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}
.dropdown-menu-replay-comment{
  position: absolute;
  right: 0;
  top: 30px;
  background: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}
.dropdown-menu ul,.dropdown-menu-replay-comment ui {
  list-style: none;
  padding: 0;
  margin: 0;
}

.dropdown-menu li ,.dropdown-menu-replay-comment li{
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.dropdown-menu li:hover ,.dropdown-menu-replay-comment li:hover{
  background: #f0f0f0;
}
.dropdown-menu img ,.dropdown-menu-replay-comment img{
  width: 20px;  
  margin-right: 10px; 
}
.replatcommentholder{
  position: relative;
}
.dropdownicons {
  display: flex;
  align-items: center;
}

  .audioholder{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    cursor: pointer;
    background-color: rgba(150, 150, 150, 0.1);
    border-radius: 10px;
    padding: 30px 10px;
  }

  .audiofile{
    width: 100%;
  }
  .dropdown-toggle{
    width: 35px;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
    background-color: var(--icon-backgroud-color);
    }
  
  .dropdown-toggle:hover{
  background-color: var(--icon-hover-backgroud-color);
  
  }
  .dropdown-toggle {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
  }
.delete-confirmation-dialog {
  position: fixed; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: red;  
  color: white;  
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  z-index: 1000;  
  width: 300px;  
  max-width: 80%;  
}

.delete-confirmation-dialog p {
  margin: 0 0 10px 0;
}
.alert-BG{
  position: fixed; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.502);
}

.delete-confirmation-dialog button {
  margin: 0 10px;
  padding: 8px 20px;
  cursor: pointer;
  border: none;
  background-color: #fff; 
  color: #f44336; 
  border-radius: 4px;
  font-size: 14px;
  transition: background-color 0.3s, color 0.3s;
}

.delete-confirmation-dialog button:hover {
  background-color: #f44336;  
  color: #fff; 
}
.comment-button{
 
  display: flex;
  flex-direction: row;
  border-radius: 15px;
  margin-top: 10px;
 
 }
 .comment-button img{
  width: 20px;
  margin-right: 5px;
 }

 .nocomments{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 }

 .nocomments img{
  height: 10vh;
  margin-bottom: 10px;
  opacity: 0.5;
 }
 .nocomments p{
  opacity: 0.8;
 }

 .loadingpostdata {
  position: fixed;
  width: 100%;  /* Full width */
  height: 100vh;  /* Full height */
  background-color: rgba(0, 0, 0, 0.137);
  top: 0px;
  left: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.load-more-btn{
  background-color: var(--primary-dark);
  border-radius: 20px;
  color: white;
  cursor: pointer;
  font-size: 11px;
  padding: 5px;
  transition: background-color 0.3s;
}

.load-more-btn:hover{
  background-color: var(--primary-faded);
    color: var(--primary-dark);
 
}

 .backarrow{
  width: 40px;
  height: 40px;
  padding: 5px;
  border-radius: 50%;
  background-color: var(--icon-hover-backgroud-color);
  position: relative;
  left: 5px;
  transition: background-color 0.3s;
  cursor: pointer;
  top: -2px;
}
.backarrow:hover{
  background-color: var(--icon-backgroud-color);

}


 .closeicon {
  padding: 15px;
  width: 50px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  transition: transform 0.5s, background-color 0.5s;  
}

.closeicon:hover {
  transform: rotate(90deg); 
  background-color: rgba(255, 255, 255, 0.644);
}


.nav-button {
  background-color: rgba(255, 255, 255, 0.8);
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  width: 50px;
  padding: 15px;
  border-radius: 50%;
  transition: transform 0.5s, background-color 0.5s;  
}

.nav-button:hover {
  background-color: rgba(255, 255, 255, 1);
}


.image-slider-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.image-slider-container {
  position: relative;
  width: auto;
  
}

.slider-image {
  width: 80vw;
  height: 80vh;
  border: 1px solid #ccc;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

.navigation-buttons {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
}



.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}

.close-button:hover {
  background-color: rgba(255, 255, 255, 1);
}

 
.text-holder{
  height: 50vh;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
 
}
 
.text-post-text{
  margin: 0;
  color: white;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 20px;
  padding: 10px;
  word-wrap: break-word;  
  max-width: 100%; 
}

.replay-comment-holder{
  padding: 10px;
  margin-top: 5px;
  border-top: 1px solid #ccc;

}
.replaytextholder{
  display: flex;
  flex-direction: row;
  align-items: start;
  width: 100%;
  justify-content: space-between;
}
.replaytextholder img{
  border-radius: 50%;
  width: 30px;
  height: 30px;
}
.replaytextuserdetailsholder{
  display: flex;
  flex-direction: row;
  align-items: start;
  margin-left: 10px;
}
.usedetilsholder{
  display: flex;
  flex-direction: column;
  margin-left: 10PX;
}
.replaycomment-outerhodler{
  display: flex;
  flex-direction: column;
  align-items: start;
  border-bottom: 1px solid rgba(0, 0, 0, 0.214);
  margin-bottom: 5px;
 
}
.replaytext-username{
  font-size: 13px;
  cursor: pointer;
}
.replaytext-username:hover{
  text-decoration: underline;
}
.replaytext-time{
  font-size: 10px;
  color: rgba(0, 0, 0, 0.58);
}
.reply-commenttext{
  font-size: 13px;
  color: rgb(84, 84, 84);
  padding: 10px;
  word-wrap: break-word; 
  overflow-wrap: break-word; 
  max-width: 100%;  
  white-space: normal;
}