.post-container {
    width: 50%;
    margin: 15px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  
  .post-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
    position: relative;
    top: 25px;
    gap: 2px;
  }
  
  .user-profile {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
    margin-left: 20px;
  }
  .filepath{
    font-weight: bold;
  }
  .user-info {
    display: flex;
    flex-direction: column;
  }
  
  .username {
    font-weight: bold;
    font-size: 17px;
  }
  .postedtime{
    font-size: 14px;

  }
  
  .user-id {
    color: #666;
  }
  
  .post-body {
    margin-top: 20px;
  }
  
  .post-description {
    font-size: 1.1em;
    margin-bottom: 10px;
  }
  
  .post-date, .post-type {
    color: #999;
    margin-bottom: 10px;
  }
  .post-media{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .image-post-media{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .linkholder{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
  }

  .post-media img,.image-post-media img, .post-media video ,.linkholder img{
 
    width: 100%;
    height: 55vh;
    text-align: center;
    display: block;
    object-fit: cover;  
    border-radius: 10px;
  }
  
  .fab {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #3f51b5;
    color: white;
  }
  

 
  .numberofimages{
    width: 40px;
    height: 40px;
    background-color:rgba(255, 255, 255, 0.52);
    color: black;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    position: absolute;
    top: 10px;
    left: 10px;
    font-weight: bold;
    text-align: center;
  }

 

.commentusername{
  font-size: 13px;
  color: black;
  text-decoration: none;
}
.commentusername:hover{
  text-decoration: underline;
}
.commenttext {
  opacity: 0.7;
  font-size: 15px;
  max-width: 100%;
  display: -webkit-box;       
  -webkit-box-orient: vertical;
  overflow: hidden;             
  text-overflow: ellipsis;     
  word-wrap: break-word;
  overflow-wrap: break-word;
  hyphens: auto;
}


.replaytext{
color: var( --primarycolor);
font-size: 13px;
cursor: pointer;

}
.replaytext:hover{
text-decoration: underline;
}

button[type="submit"] ,button[type="button"]{
  padding: 8px;
  background-color: white;  
  border-radius: 50%;  
  border: none;
  margin-left: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);  
  width: 50px; 
  height: 50px; 
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--primary-faded);
}

button[type="submit"] img ,button[type="button"] img{
  width: 15px;  
  height: 15px;  
}


button[type="submit"]:hover {
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.3);  
}

.image-preview{
  width: 20%;
  border-radius: 15px;
}
.commentinputholderouter{
  display: flex;
  flex-direction: column;
 
}
.previewholderouter{
  position: relative;
}
.closeiconimagepreview{
  position: absolute;
  top: 5px;
  left: 10px;
  width: 20px;
  padding: 3px;
  width: 21px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  cursor: pointer;
  transition: transform 0.5s, background-color 0.5s; 
}
input[type="text"] {
  width: 100%;
  padding: 15px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 40px;
  box-sizing: border-box;
  font-size: 16px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}


input[type="text"]:focus {
  border-color:var(--primarycolor); 
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);  
  outline: none;  
}


.commentinputholder{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  flex-direction: row;
  align-items: center;
}
 

 .active-buttons-holder{
  margin-top: 15px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
 }
 


.comments-section {
  margin-top: 20px;
}

.comment {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  position: relative;
}

.comment-header {
  display: flex;
  align-items: center;
}

.comment-userprofile {
  width: 50px;  
  height: 50px;  
  border-radius: 50%; 
  margin-right: 10px;
}

.no-comments {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.comment-info-holder{
  display: flex;
  flex-direction: column;
  align-items: start;
}


.comment-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.comment-userprofile {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.comment-info-holder {
  flex-grow: 1;
}



.dropdown-menu {
  position: absolute;
  right: 0;
  top: 40px;
  background: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}
.dropdown-menu-replay-comment{
  position: absolute;
  right: 0;
  top: 30px;
  background: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}
.dropdown-menu ul,.dropdown-menu-replay-comment ui {
  list-style: none;
  padding: 0;
  margin: 0;
}

.dropdown-menu li ,.dropdown-menu-replay-comment li{
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.dropdown-menu li:hover ,.dropdown-menu-replay-comment li:hover{
  background: #f0f0f0;
}
.dropdown-menu img ,.dropdown-menu-replay-comment img{
  width: 20px;  
  margin-right: 10px; 
}
.replatcommentholder{
  position: relative;
}
.dropdownicons {
  display: flex;
  align-items: center;
}

  .audioholder{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    cursor: pointer;
    background-color: rgba(150, 150, 150, 0.1);
    border-radius: 10px;
    padding: 30px 10px;
  }

  .audiofile{
    width: 100%;
  }
  .dropdown-toggle{
    width: 35px;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
    background-color: var(--icon-backgroud-color);
    }
  
  .dropdown-toggle:hover{
  background-color: var(--icon-hover-backgroud-color);
  
  }
  .dropdown-toggle {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
  }
.delete-confirmation-dialog {
  position: fixed; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: red;  
  color: white;  
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  z-index: 1000;  
  width: 300px;  
  max-width: 80%;  
}

.delete-confirmation-dialog p {
  margin: 0 0 10px 0;
}
.alert-BG{
  position: fixed; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.502);
}

.delete-confirmation-dialog button {
  margin: 0 10px;
  padding: 8px 20px;
  cursor: pointer;
  border: none;
  background-color: #fff; 
  color: #f44336; 
  border-radius: 4px;
  font-size: 14px;
  transition: background-color 0.3s, color 0.3s;
}

.delete-confirmation-dialog button:hover {
  background-color: #f44336;  
  color: #fff; 
}
.comment-button{
 
  display: flex;
  flex-direction: row;
  border-radius: 15px;
  align-items: center;
 
 
 }
 .likecount{
  margin-left: 5px;
 }
 .likecount:hover{
  cursor: pointer;
  text-decoration: underline;
 }
 .comment-button img{
  width: 18px;
  height: 18px;
 
 }
.follow-btn-holder{
  background-color: var(--icon-hover-backgroud-color);
  padding: 10px;
 
  border-radius: 25px;
  margin-left: 10px;
  transition: background-color 0.3s;
  cursor: pointer;
}
.comment-div-holder{
  background-color: var(--icon-hover-backgroud-color);
  padding: 10px;
 
  border-radius: 25px;
  margin-left: 10px;
 
 
}
.follow-btn-holder:hover{
  background-color: var(--icon-backgroud-color);
}




.commentnumber{
  margin-left: 5px;
}
 .nocomments{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 }

 .nocomments img{
  height: 6vh;
  margin-bottom: 5px;
  opacity: 0.5;
 }
 .nocomments p{
  opacity: 0.8;
 }

 .loadingpostdata {
  position: fixed;
  width: 100%;  /* Full width */
  height: 100vh;  /* Full height */
  background-color: rgba(0, 0, 0, 0.137);
  top: 0px;
  left: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.load-more-btn{
  background-color: var(--primary-dark);
  border-radius: 20px;
  color: white;
  cursor: pointer;
  font-size: 11px;
  padding: 5px;
  transition: background-color 0.3s;
  font-size: 15px;
}

.load-more-btn:hover{
  background-color: var(--primary-faded);
    color: var(--primary-dark);
 
}

 .backarrow{
  width: 40px;
  height: 40px;
  padding: 5px;
  border-radius: 50%;
  background-color: var(--icon-hover-backgroud-color);
  position: relative;
  left: 5px;
  transition: background-color 0.3s;
  cursor: pointer;
  top: -2px;
}
.backarrow:hover{
  background-color: var(--icon-backgroud-color);

}


 .closeicon {
  padding: 15px;
  width: 50px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 70px;
  right: 10px;
  cursor: pointer;
  transition: transform 0.5s, background-color 0.5s;  
}
.comment-image{
  width: 30%;
  border-radius: 15px;
  margin-top: 3px;
  cursor: pointer;
}

.closeicon:hover,.closeiconimagepreview:hover {
  transform: rotate(90deg); 
  background-color: rgba(255, 255, 255, 0.644);
}


.nav-button {
  background-color: rgba(255, 255, 255, 0.8);
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  width: 50px;
  padding: 15px;
  border-radius: 50%;
  transition: transform 0.5s, background-color 0.5s;  
}

.nav-button:hover {
  background-color: rgba(255, 255, 255, 1);
}


.image-slider-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.image-slider-container {
  position: relative;
  width: auto;
  
}

.slider-image {
  width: 80vw;
  height: 80vh;
 
  border-radius: 5px;
  object-fit: contain;
}

.navigation-buttons {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
}



.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}

.close-button:hover {
  background-color: rgba(255, 255, 255, 1);
}

 
.text-holder{
  height: 50vh;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;  
  border: 1px solid #ccc;
 
}
 
.text-post-text{
  margin: 0;
  color: black;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 20px;
  padding: 10px;
  word-wrap: break-word;  
  max-width: 100%; 
}

.replay-comment-holder{
  padding: 10px;
  margin-top: 5px;
  border-top: 1px solid #ccc;

}
.replaytextholder{
  display: flex;
  flex-direction: row;
  align-items: start;
  width: 100%;
  justify-content: space-between;
}
.replayuserprofile{
  width: 35px;
  height: 35px;
  border-radius: 50%;
}
.dropdown-toggle{
  width: 35px;
  height: 35px;
}
 .replaydropdownimage{
  width: 20px;
  height: 20px;
 }
.replaytextuserdetailsholder{
  display: flex;
  flex-direction: row;
  align-items: start;
  margin-left: 10px;
}
.usedetilsholder{
  display: flex;
  flex-direction: column;
  margin-left: 10PX;
}
.replaycomment-outerhodler{
  display: flex;
  flex-direction: column;
  align-items: start;
  border-bottom: 1px solid rgba(0, 0, 0, 0.214);
  margin-bottom: 5px;
 
}
.replaytext-username{
  font-size: 13px;
  cursor: pointer;
}
.replaytext-username:hover{
  text-decoration: underline;
}
.replaytext-time{
  font-size: 10px;
  color: rgba(0, 0, 0, 0.58);
}
.reply-commenttext{
  font-size: 13px;
  color: rgb(84, 84, 84);
  padding: 10px;
  word-wrap: break-word; 
  overflow-wrap: break-word; 
  max-width: 100%;  
  white-space: normal;
}


.reporting-screen {
  position: fixed;  
  top: 0;
  left: 0;
  width: 100vw;  
  height: 100vh;  
  background-color: rgba(0, 0, 0, 0.8);  
  display: flex; 
  align-items: center;
  justify-content: center;
  z-index: 1000;  
}

.dot-blue {
  height: 18px;
  width: 18px;
  background-color: #ffffff;
  border-radius: 50%;
  border-width: 2px;
  border-style: solid;
  border-color: #00bcd4;
  display: inline-block;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;  
}

.dot-blue:hover {
  transform: scale(1.2);  
  background-color: #e0f7fa;  
}


.liked-dot {
  background-color: #2196f3; 
  height: 18px;
  width: 18px;
 
  border-radius: 50%;
  border-width: 2px;
  border-style: solid;
  border-color: #00bcd4;
  display: inline-block;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.liked-dot:hover {
  transform: scale(1.2);  
  background-color: #2196f3;  
}

.preloadaddingcomment{
  width: 30px;
}


.dropdown-menu {
  position: absolute;
  background: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 200px;
  padding: 10px;
}

.edit-popup {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 400px;
  padding: 20px;
  background-color: white;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px 10px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

.animate-popup {
  opacity: 1;
  visibility: visible;
  bottom: 50%;
  transition: all 0.3s ease-in-out;
}

.popup-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.popup-input {
  flex: 1;
  padding: 8px;
  font-size: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-right: 8px;
}

.post-description-container {
  position: relative;
}

.post-description {
  margin-bottom: 4px;
}

.see-more-btn {
  background: none;
  border: none;
  color: #65676b;
  padding: 0;
  font-size: 0.9em;
  cursor: pointer;
  font-weight: 500;
}

.see-more-btn:hover {
  text-decoration: underline;
}

@media (max-width: 500px) {  
  .post-container{
   width: 100vw;
   box-shadow: 0 0 10px rgba(255, 255, 255, 0);
  }
  .commentholderouter{
    padding-bottom: 50px;
  }
  input[type="text"] {
      padding: 10px; 
  }
  button[type="submit"] {
    padding: 7px; 
    width: 40px; 
    height: 40px; 
  
  }
  .preloadaddingcomment{
    width: 20px;
  }
  
  
}

 