 





<div *ngIf="post" class="post-container">

  
  <div class="liked_members_div_fixed" *ngIf="islikedmembereddivvisible">
    <div class="member_main_outer_holder" #memberMainOuterHolder>
     <div class="main_titile_holder">
      <h3>Members Who Liked</h3>
     </div>
      <img src="../../../assets/images/close.png" alt="" class="closeicon" (click)="closememebrslikeddiv($event)">
  
      <div class="main_member_holder" *ngFor="let member of likedMembers">
        <img [src]="member.profileimage" alt="Profile Image">
        <span class="liked_member_name" >{{ member.username }}</span>
      </div>
  
      
      <button *ngIf="!loadingMoreMembers && hasMoreMembers" (click)="loadMoreMembers($event)" class="loadmorebutton">Load More</button>
    </div>
  </div>

 

    <div class="post-header">

      
<div [ngSwitch]="fromwhatscreen">
  <a *ngSwitchCase="'home'" routerLink=''>
    <img src="../../../assets/images/backarrow.png" alt="" class="backarrow">
  </a>
  <a *ngSwitchCase="'pro'" [routerLink]="['/home/profile', checkuseridtoroutecommentscreen]">
    <img src="../../../assets/images/backarrow.png" alt="" class="backarrow">
  </a>
</div>




      <img class="user-profile" [src]="'data:image/jpeg;base64,' + post.userprofile" alt="User Profile Image">
      <div class="user-info">
        <p class="username">{{ post.username }}</p>
        <p class="postedtime">{{ calculateTimeAgo(post.posteddate) }}</p>
      </div>
      
    </div>
    <div class="post-body">

      
      <small class="post-description">{{ post.postdescription }}</small>
      <p class="filepath">{{post.filepath}}</p>
   
      <a [href]="post.thelink" target="_blank">{{post.thelink}}</a>
   



 






      <div *ngIf="post.posttype === 'link'" class="linkholder">
      
         <img [src]="post.textbody" alt="">
       
    
      </div>
 
      <div *ngIf="post.posttype === 'image'" class="image-post-media">

        <span class="numberofimages"  >{{images.length}}</span>




        <img [src]="'data:image/jpeg;base64,' + post.post" alt="Post Image" (click)="showImageSliderMethod(images)" >

 

        <app-image-larger *ngIf="showLargerImage" [imageUrl]="'data:image/jpeg;base64,' + post.post" (close)="onCloseLargerImage()"></app-image-larger>

      </div>

      <div *ngIf="showImageSlider" class="image-slider-overlay">
        <div class="image-slider-container">
        
    
   
          <img [src]="images[currentImageIndex]" alt="Slider Image" class="slider-image" />
    
        
          <div class="navigation-buttons" *ngIf="images.length>1">
            <img src="../../../assets/images/left-arrow.png" alt="" class="nav-button" (click)="previousImage()">
            <img src="../../../assets/images/right-arrow.png" alt="" class="nav-button" (click)="nextImage()">

        
          </div>
          
         
        </div>

        <img src="../../../assets/images/close.png" alt="" class="closeicon" (click)="closeSlider()">

      </div>







      <div *ngIf="post.posttype === 'video'" class="post-media">
        <video controls>
          <source [src]="post.videoUrl" type="video/mp4">
          Your browser does not support the video tag.
        </video>
      </div>




      

      
      <div *ngIf="post.posttype === 'audio'" class="audioholder">
        <audio controls class="audiofile">
          <source [src]="post.audioUrl" type="audio/mpeg">
          Your browser does not support the audio element.
        </audio>
      </div>
  



  <div *ngIf="post.posttype === 'text'" class="textholder">
    <div class="text-holder" [style.background-color]="post.textcolor">
      <p class="text-post-text">{{ post.textbody }}</p>
    </div>
  </div>

  

    </div>


    

  

      <div class="active-buttons-holder">

    
        <span *ngIf="likedornottext =='yes'" class="dot liked-dot" (click)="likePost(post.postid, post.userid,  post.username, post.userprofile,post.n_or_g)" [attr.data-postid]="post.postid">

        </span>
 

       
            <span *ngIf="likedornottext !='yes'" class="dot dot-blue" (click)="likePost(post.postid, post.userid,  post.username, post.userprofile,post.n_or_g)"  [attr.data-postid]="post.postid">

            </span>
         
            <span  *ngIf="likes > 0" class="likecount" (click)="getlikeedmembers(post.postid)">{{ likes }} </span>



           
          
     
     
       <div class="comment-div-holder">
        <span class="comment-button"  >
          <img src="../../../assets/images/comment.png" alt="numberofcomments" > <span *ngIf="numberofcomments > 0" class="commentnumber">{{ numberofcomments }} </span> 
         </span>


       


       </div>

     
       <span  *ngIf="userid !=''"  class="follow-btn-holder" (click)="iamstartedtofollow(post.userid)">{{followButtonText}}</span>


      </div>











  <hr>
      <div *ngIf="!isthelastcomment" class="commentholderouter">
        <h3>Comments</h3>

        



        <form [formGroup]="commentForm" (ngSubmit)="onSubmit(post.postid, post.userid, post.username, post.userprofile)">
          <div class="commentinputholderouter">
            <div class="commentinputholder">
              <input type="text" formControlName="commenttext" placeholder="Add comment" #commenttext>
              
              <button type="submit" *ngIf="commenttext.value && !isSubmitting || selectedImage">
                <img src="../../../assets/images/addcomment.png" alt="Add comment">
              </button>
          
              <button type="button" *ngIf="!commenttext.value" (click)="fileInput.click()">
                <img src="../../../assets/images/imagepost.png" alt="Add comment">
              </button>
          
              <input type="file" #fileInput (change)="onFileSelect($event)" style="display: none" accept="image/*">
              
            
                <img src="../../../assets/images/preloader.gif" alt="Loading" *ngIf="isSubmitting" class="preloadaddingcomment">
           
          
            </div>
              <div class="previewholderouter">
                <img src="../../../assets/images/close.png" alt="" (click)="closeimagepreview()" class="closeiconimagepreview" *ngIf="selectedImage">
                <img [src]="selectedImage" alt="Selected Image" class="image-preview" *ngIf="selectedImage"> 
              </div>

          </div>
        </form>
 

        <div class="reporting-screen" *ngIf="showreportscreenBool" >
          <img src="../../../assets/images/close.png" alt="" class="closeicon" (click)="closeReportScreen()">
          <app-reportting [type]="comment"></app-reportting>
         </div>
         

        <div *ngFor="let comment of comments" class="comment"> 
          <div class="comment-header">
            <img *ngIf="comment.imageurl" [src]="'data:image/jpeg;base64,' + comment.imageurl" alt="User Profile Image" class="comment-userprofile">
            <div class="comment-info-holder">
              <a [routerLink]="['/home/profile', comment.userid]" class="commentusername">
                <p ><strong>{{ comment.username }}</strong></p>
              </a>
              <small>{{ calculateTimeAgo(comment.commenteddate) }}</small>
            </div>
        

            <img src="../../../assets/images/threedots.png" alt=""   (click)="toggleDropdown($event, comment)" class="dropdown-toggle"  >


          </div>
          <p class="commenttext"  >{{ comment.text }}</p>


          <app-image-larger 
          *ngIf="showcommentimage" 
          [imageUrl]="'data:image/jpeg;base64,' + selectedCommentImage" 
          (close)="onCloseLargerImage()">
        </app-image-larger>

          
            <div *ngIf="comment.commentimage"  (click)="showTheCommentImage(comment.commentimage)">
              <img [src]="'data:image/jpeg;base64,' + comment.commentimage" alt="Comment Image" class="comment-image">
            </div>


        




          <span (click)="toggleReplayDiv(comment) " class="replaytext">add replay {{comment.replayscount ==0 ? "": comment.replayscount}}</span>



                    <div class="replay-comment-holder" *ngIf="comment.showReplayDiv">
                    
                          <form  [formGroup]="replayCommentForm" (ngSubmit)="addingreplaycomment(post.postid,post.userid,post.username,post.userprofile,comment.commentid,comment.text)">

                  

                          <div class="commentinputholder">
      
                            <input type="text" formControlName="replaycomment" placeholder="Add reply" #replaycommenttext>
                            <button type="submit"    *ngIf="replaycommenttext.value"><img src="../../../assets/images/addcomment.png" alt=""></button>

                           
                          </div>


                          </form>

                        
                          
                          <!-- For each replay's user profile image -->
                          <div *ngFor="let replay of comment.replays" class="replatcommentholder">
                            <div class="replaycomment-outerhodler">
                              <div class="replaytextholder">
                                 <div class="replaytextuserdetailsholder">
                                    <img *ngIf="replay.userprofileBlobUrl" [src]="replay.userprofileBlobUrl" alt="User Profile" class="replayuserprofile">

                                      <div class="usedetilsholder">
                                        <a [routerLink]="['/home/profile', replay.userid]" class="commentusername">
                                          <span class="replaytext-username">{{ replay.username }}</span>
      
                                        </a>

                                        <span class="replaytext-time">{{ calculateTimeAgo(replay.replayeddate) }}</span>

                                      </div>

                                  
                                 </div>
                            
                                 <img src="../../../assets/images/threedots.png" alt=""   (click)="toggleReplaycommentDropdown($event, comment, replay)" class="dropdown-toggle"  >


                                 <div *ngIf="replay.showDropdownReplay" class="dropdown-menu-replay-comment">
                                  <ul>
                                    
                                  
                                    <li  (click)="removeReplayComment(replay,replay.commentreplayid )"  *ngIf="replay.userid == userid" class="dropdownicons">
                                      <img src="../../../assets/images/delete.png" alt="" class="replaydropdownimage">
                                       
                                      Delete replay
                                    </li> 
                                    <li>  <img src="../../../assets/images/complain.png" alt="" class="replaydropdownimage"> Report replay</li>
                      
                                  
                                     
                                  </ul>
                                </div>
                             
                            
                            </div>
                            <p class="reply-commenttext">{{ replay.text }}</p>
                            </div>
                            
                          </div>



                    </div>




                    <form  *ngIf="commentToEdit === comment.commentid"  [formGroup]="editCommentForm" 
                    (ngSubmit)="editcommentsubmit(post.postid, post.userid, post.username, post.userprofile, comment.commentid, comment.n_or_g)"
                    class="editcommentsubmitform">
                    <div class="commentinputholder">
                      <input  type="text"  formControlName="commenttext"  placeholder="Edit comment"/>
                      <button  type="submit" *ngIf="editCommentForm.get('commenttext')?.value">
                        <img src="../../../assets/images/addcomment.png" alt="">
                      </button>
                    </div>
                  </form>
                  

          <div *ngIf="comment.showDropdown" class="dropdown-menu">
            <ul>

              
              <li 
              (click)="editComment(comment)" 
              *ngIf="comment.userid == this.userid" 
              class="dropdownicons"
            >
              <img src="../../../assets/images/edit.png" alt="">
              Edit comment
            </li>

            
              <li (click)="removeComment(comment,comment.commentid)" *ngIf="comment.userid == this.userid" class="dropdownicons">
                <img src="../../../assets/images/delete.png" alt="">
                Delete comment
              </li> 
              <li (click)="showreportscreen()">  <img src="../../../assets/images/complain.png" alt="" > Report comment</li>

            
               
            </ul>
          </div>
        </div>


        <span *ngIf="isthelastcommentLoaing" (click)="getComments(true)" class="load-more-btn">
          Load More
        </span>


      </div>







      <div class="alert-BG" *ngIf="commentToBeDeleted" >
        <div  class="delete-confirmation-dialog">
          <p>Are you sure you want to remove the comment?</p>
          <button (click)="removeCommentYes(commentToBeDeleted)">Yes</button>
          <button (click)="cancelDeleteComment()">No</button>
        </div>
      </div>

      
      
      
      <div *ngIf="comments.length === 0 || isthelastcomment" class="nocomments">
        <img src="../../../assets/images/nocomments.png" alt="">
        <p>No Comments</p>
      </div>
      
      
      
    
  </div>
  <div *ngIf="!post" class="loadingpostdata">
    <img src="../../../assets/images/preloader.gif" alt="" class="iscontentisloading">
  </div>










 
  