<div *ngIf="!post.deleted" class="post">

   <div class="reporting-screen" *ngIf="showreportscreenBool">
    <img src="../../../assets/images/close.png" alt="" class="closeicon" (click)="closeReportScreen()">
    <app-reportting [type]="postreport"></app-reportting>
   </div>

  <div class="post-header">
 
 
    <div *ngIf="profileImageUrl" class="profile-image-container">
      <img *ngIf="profileImageUrl" [src]="profileImageUrl" alt="User Profile Image" class="profile-image"  />
      <div class="green-dot" *ngIf="onlinestatus"></div>
    </div>


    <div class="postownerdetailholder">
           <div class="username-holder">
            <span>
              <div class="postdetilsholder">
                <a [routerLink]="['/home/profile', post.userid]" class="username">{{ post.username }} </a>
              <small >{{ calculateTimeAgo(post.posteddate) }}</small>
              </div>
              <span *ngIf="post.groupname != null">&#64; {{ post.groupname }}</span>
   

            </span>
                  <div class="buttun-hodler" >
                   
                     <span *ngIf="this.userid !=''">
                      <span class="joinbtn" *ngIf="post.posttype === 'group' || post.groupid != null " (click)="joingroup(post.grouptype,post.groupid,post.username,post.userid )">{{btntext}}</span>
                     </span>
                     
                   
              
                    
                  
                    <img src="../../../assets/images/threedots.png" alt=""   (click)="toggleDropdown($event, post)" class="dropdown-toggle" *ngIf="this.userid !=''">

                  </div>
                  <div *ngIf="post.showDropdown" class="dropdown-menu">
                    <ul>
                      <li (click)="removePost(post.postid)" *ngIf="post.userid == this.userid" class="dropdownicons">
                        <img src="../../../assets/images/delete.png" alt="">
                        Delete
                      </li>
                      <li (click)="showreportscreen()">  <img src="../../../assets/images/complain.png" alt=""> Report</li>
                    </ul>
                  </div>

           </div>
  
 
    </div>


  </div>
 
   <small >{{post.postdescription}}</small>
  <div *ngIf="userid != post.userid">
    <h3 *ngIf="post.posttype === 'group'"> {{post.username}} has created a {{post.grouptype}} group. {{post.grouptype === 'private' ? 'Get permission to join.' :'You can join now.'}}</h3>
  </div>


  <h3 *ngIf="userid == post.userid && post.posttype === 'group'">Your group</h3>
 
  <span *ngIf="post.posttype === 'link'" class="linktext">{{post.filepath}}</span>

  <a [href]="post.thelink" target="_blank" class="link-wrapper" *ngIf="post.posttype === 'link'">{{post.thelink}}</a>

  <div *ngIf="post.posttype === 'text'" class="textholder">
    <div class="text-holder" [style.background-color]="post.textcolor" (click)="commentOnPost($event,post.postid,post.n_or_g)">
      <p class="text-post-text">{{ post.textbody }}</p>
    </div>
  </div>

  
  <div *ngIf="post.posttype === 'image'" class="imageholder">
    <span class="numberofimages" *ngIf="post.images.length>1">{{post.images.length}}</span>
    <img   [src]="imageUrl" alt="Post Image"   (click)="commentOnPost($event,post.postid,post.n_or_g)" />
    <!-- <img   [src]="imageUrl" alt="Post Image" (click)="showImageSliderMethod(post.images)" /> -->
  </div>


  <div *ngIf="post.posttype === 'group'" class="imageholder">
    <img   [src]="groupImageUrl" alt="Post group"    />
    
  </div>


  <!-- Image slider component -->
  <!-- <div *ngIf="showImageSlider" class="image-slider-overlay">
    <div class="image-slider-container">
      <img [src]="createBlobUrl(post.images[currentImageIndex], 'image/jpeg')" alt="Slider Image" class="slider-image" />
      <div class="navigation-buttons">
        <button class="nav-button" (click)="onPreviousImage()">Previous</button>
        <button class="nav-button" (click)="onNextImage()">Next</button>
      </div>
      <button class="close-button" (click)="closeImageSlider()">Close</button>
    </div>
  </div> -->
  


  <!-- <app-image-larger *ngIf="showLargerImage" [imageUrl]="imageUrl" (close)="onCloseLargerImage()"></app-image-larger> -->

  

  <div *ngIf="post.posttype === 'video'" class="videoholder">
    <video *ngIf="videoUrl" controls (click)="commentOnPost($event,post.postid, post.n_or_g)">
      <source [src]="videoUrl" type="video/mp4">
      Your browser does not support the video tag.
    </video>
  </div>




  <div *ngIf="post.posttype === 'link'" class="imageholder">
   
    <img [src]="post.textbody" alt="" (click)="commentOnPost($event,post.postid,post.n_or_g)">
    
</div>



  


 <div *ngIf="post.posttype === 'audio'" class="audioholder" (click)="commentOnPost($event,post.postid, post.n_or_g)">
  <audio *ngIf="audioUrl" controls class="audiofile" (click)="commentOnPost($event,post.postid, post.n_or_g)">
    <source [src]="audioUrl" type="audio/mpeg" (click)="commentOnPost($event,post.postid, post.n_or_g)">
    Your browser does not support the audio element.
  </audio>
</div>
  <div class="active-buttons-holder">
    <button (click)="likePost(post.postid, post.userid,  post.username, post.userprofile,post.n_or_g)">Like</button>
    <span>{{ likes }} Likes</span>

    <!-- Comment button -->
     <span class="comment-button" (click)="commentOnPost($event,post.postid,post.n_or_g)" *ngIf="post.posttype != 'group'">
      <img src="../../../assets/images/comment.png" alt="" > {{ comments }} Comments
     </span>

 
   
 
 <span *ngIf="this.userid !='' && userid != post.userid && post.posttype !='group'">
  <button (click)="iamstartedtofollow(post.userid)"  >{{followButtonText}}</button>

 </span>


  </div>


  <div class="alert-BG" *ngIf="postToBeDeleted" >
    <div  class="delete-confirmation-dialog">
      <p>Are you sure you want to remove the comment?</p>
      <button (click)="removePostYes(post.postid)">Yes</button>
      <button (click)="cancelDeleteComment()">No</button>
    </div>
  </div>

</div>













