<app-header (uploadPost)="onPostAdded()"></app-header>
<!-- <app-add-post (postAdded)="onPostAdded()" *ngIf="openaddpostscreenbool" (closePost)="openaddpostscreenbool = false"></app-add-post> -->
<!-- (postAdded)="onPostAdded()" -->
<!-- <app-notification></app-notification> -->

<!-- <app-add-post (postAdded)="onPostAdded()" *ngIf="openaddpostscreenbool" (closePost)="openaddpostscreenbool = false"></app-add-post> -->





<div class="main-outer-holder">



  <div class="left-user-holder">


 

    <ng-container >
      <app-feedscreen-user-list (optionSelected)="onOptionSelected($event)"></app-feedscreen-user-list>
    </ng-container>


 

 





  </div>





  <app-add-post (postAdded)="onPostAdded()" *ngIf="openaddpostscreenbool" [postType]="postType"
  (closePost)="openaddpostscreenbool = false">
</app-add-post>


<!-- <button (click)="createnewgroup()" *ngIf="this.userid">create group</button> -->

<div class="group-creation-wrapper" *ngIf="iscreatenewgroupopen">
  <!-- <button (click)="closecreatenewgroup()">closeddddddddddddd</button> -->





  <img src="../../../assets/images/close.png" alt="" class="closeicon" (click)="closecreatenewgroup()">

  <app-create-group></app-create-group>






</div>





<div class="feed-container">

  

  <div class="posttypeholder" *ngIf="userid !=''">
    <div class="userdetails-holder" >
      <div class="inggerholder-image">
        <img *ngIf="user?.profileimage" [src]="'data:image/jpeg;base64,' + user?.profileimage" alt="Profile Image"
          class="profileimage">

        <h2>Hi, {{user.username}}</h2>
      </div>


      <div class="button-holder-inner">
        <span class="creategroup" (click)="toggleOptionsSelecter($event)" >
      
          <img src="../../../assets/images/ravoomit.png" alt=""> 
          Ravoom it
  
        </span>
  
  
        <span class="creategroup" (click)="createnewgroup()">
          <img src="../../../assets/images/add.png" alt=""  >
          group
  
        </span>

      </div>



    </div>


    <div class="options-holder" *ngIf="showoptionsmenu">

      <div class="option" (click)="openaddpostscreen('t')">
        <div class="icon-wrapper"><img src="../../../assets/images/textpost.png" alt=""></div> 
        <span class="optionname">Text</span>
      </div>

      <div class="option" (click)="openaddpostscreen('i')">
        <div class="icon-wrapper">  <img src="../../../assets/images/imagepost.png" alt=""></div> 
        <span class="optionname">Image</span>
      </div>

      <div class="option" (click)="openaddpostscreen('l')">
        <div class="icon-wrapper"><img src="../../../assets/images/linkpost.png" alt=""></div>
        <span class="optionname">link</span>
      </div>

      <div class="option" (click)="openaddpostscreen('v')">
      <div  class="icon-wrapper">    <img src="../../../assets/images/videopost.png" alt=""></div>
        <span class="optionname">Video</span>
      </div>

      <div class="option" (click)="openaddpostscreen('a')">
      <div class="icon-wrapper">  <img src="../../../assets/images/audiopost.png" alt=""></div>
        <span class="optionname">Voice</span>
      </div>

    </div>

  </div>




  <div class="posts-container">

 
    <div class="selectedoptionholderbuttons" *ngIf="selectedOption !=''">
      <img src="../../../assets/images/close.png" alt="" class="backarrow"  (click)="gobackfromviodes($event)" title="close options">
        <img src="../../../assets/images/morevideos.png" alt="" class="morevidoeicon" (click)="gotovideoslider($event)" title="open viode slider">
    </div>
  
    <div *ngFor="let post of posts; let i = index"  >
      <app-post [post]="post" (delete)="handlePostDelete(i)"></app-post>
    </div>



<div class="no-posts-div" *ngIf="posts.length ==0">
  no posts yet ! 
  <img src="../../../assets/images/imagepost.png" alt="">

  <span class="creategroup" (click)="toggleOptionsSelecter($event)" >
      
  
    add post

  </span>

</div>


  </div>
</div>











<div class="right-group-holder">


<app-feedscreen-group-list></app-feedscreen-group-list>

   


</div>





</div>