
<app-header (addPost)="openaddpostscreen()" (uploadPost)="onPostAdded()"></app-header>
<!-- <app-add-post (postAdded)="onPostAdded()" *ngIf="openaddpostscreenbool" (closePost)="openaddpostscreenbool = false"></app-add-post> -->
<!-- (postAdded)="onPostAdded()" -->
<!-- <app-notification></app-notification> -->




<button (click)="createnewgroup()" *ngIf="this.userid">create group</button>

<div class="group-creation-wrapper" *ngIf="iscreatenewgroupopen">
  <button (click)="closecreatenewgroup()">close</button>


   <app-create-group></app-create-group>

  



  
</div>





<div class="feed-container">
 

 
 
  <div class="posts-container">
    <div *ngFor="let post of posts; let i = index">
      <app-post [post]="post" (delete)="handlePostDelete(i)"></app-post>
    </div>

    
  </div>
</div>



