.feed-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  .posts-container {
    width: 100%;
    max-width: 680px;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }





.userdetails-holder{
  display: flex;
  flex-direction: row;
  margin: 10px;
  padding: 10px;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.100);
 
}
.userdetails-holder img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.userdetails-holder  h2{
  opacity: 0.8;
  color: black;
  margin-left: 10px;
}
.posttypeholder{
  background-color: var(--icon-hover-backgroud-color);
  width: 100%;
  max-width: 680px;
  border-radius: 15px;
  margin-bottom: 10px;
}
.options-holder{
  width: 100%;
  display: flex;
  flex-direction: row;
 
  justify-content: space-around;
  margin-bottom: 10px;
}
.options-holder img{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: white;
  border-radius: 50%;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.option{
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
.optionname{
  margin-top: 2px;
 
}









  



 
.group-creation-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed; 
  top: 0;
  left: 0;
  height: 100vh;  
  width: 100vw;  
  background: rgba(0, 0, 0, 0.5);  
  z-index: 1000;  
}

 