 

.main-holder {
    margin: 10px auto;
    width: 30%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #ccc;
    position: relative;
    top: 70px;

}

.main-holder label {
    margin-bottom: 8px;
    font-weight: bold;
    color: #333;
}

.main-holder input[type="text"] {
    width: 100%;
    padding: 15px;
    border-radius: 25px;
    margin-top: 5px;
    border: 1px solid #ccc;
   
    box-sizing: border-box;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.main-holder input[type="text"]:focus {
    border-color: #0400fc; 
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);  
    outline: none;  
}

.main-holder button {
    width: 100%;
    display: inline-block;
    padding: 15px 20px;
    border: 1px solid #ccc;
    border-radius: 20px;
    background-color: var(--primary-dark);
    color: white;
    cursor: pointer;
    transition: background-color 0.5s, color 0.5s;
    margin-top: 20px; 
    font-size: 20px; 
}

.main-holder button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.main-holder button:hover:not(:disabled) {
    background-color: rgba(43,149,236, 0.1);
    color: rgb(43,149,236);
    border: 1px solid rgb(43,149,236);
}

.resetPassWordForm{
    display: flex;
    flex-direction: column;
}

.error-banner{
    background-color: red;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
}

.error-banner span{
color: white;
text-align: center;

}


.sent-code-message{
    background-color: rgb(4, 131, 0);
    border-radius: 5px;
    margin-top: 15px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
}

.sent-code-message span{
    color: white;
text-align: center;
}




.password-strength-show-panel {
    margin-top: 1px;
  }
  
  .password-strength-show-panel ul {
    list-style-type: none;
    padding: 0;
  }
  
  .password-strength-show-panel li {
    display: flex;
    align-items: center;
    margin: 5px 0;
  }
  
  .password-strength-show-panel li img {
    margin-right: 10px;
    width: 20px;
  }

  
 .backarrow{
    width: 40px;
    height: 40px;
    padding: 5px;
    border-radius: 50%;
    background-color: var(--icon-hover-backgroud-color);
    position: relative;
    left: 5px;
    transition: background-color 0.3s;
    cursor: pointer;
    top: -2px;
  }
  .backarrow:hover{
    background-color: var(--icon-backgroud-color);
  
  }
  






  
  
  @media (max-width: 500px) {  
    .main-holder{
    width: 95%;
    }
     
    
  }
  
