


   

    <div class="main-holder">


      <a   [routerLink]="['/home/settings', userid]">
        <img src="../../../assets/images/backarrow.png" alt="" class="backarrow">
      </a>

      
        <div class="error-banner" *ngIf="showinvalidcredentioalsbanner">
            <span>{{message}}</span>
          </div>

          <form  [formGroup]="resetPassWordForm" (ngSubmit)="onSubmitResetpassword()"  class="resetPassWordForm">

    
        <label for="curruntpassword">Current Password</label>
        <input id="curruntpassword" formControlName="curruntpassword" type="text" placeholder="Enter your current password">
        <button type="submit" [disabled]="!resetPassWordForm.valid">Confirm password</button>

    </form>


        <div class="sent-code-message" *ngIf="codeissent">
            <span>we haved sent a code for your email <b>{{useremailaddress}}</b>. Please enter the code.</span>
        </div>



        <form [formGroup]="entersentcode" (ngSubmit)="onSubmitsentcode()" class="resetPassWordForm" *ngIf="codeissent">

            <label for="sentcode">Insert code</label>
            <input id="sentcode" formControlName="sentcode" type="text" placeholder="Enter your code">
            <button type="submit" [disabled]="!entersentcode.valid">Confirm code</button>

        </form>




        <span class="count-down" *ngIf="countdown > 0 && codeissent">{{countdown}} seconds remaining to resend code.</span>
        <button *ngIf="countdown === 0" (click)="resendCode()">Resend Code</button>












        <div class="password-reset-div" *ngIf="showpasswordresetoptions">
            <form [formGroup]="enternewpasswordForm" (ngSubmit)="onSubmitnewpassword()" class="resetPassWordForm"  >

                <label for="newpassword">Enter new password</label>
                <input id="newpassword" formControlName="newpassword" type="text" placeholder="Enter your new password" (input)="checkPasswordStrength()">
 
                <div class="password-strength-show-panel" *ngIf="isPasswordFieldFocused">
                    <ul>
                      <li>
                        <img [src]="passwordConditions.minLength ? correctImage : wrongImage" alt="status">
                   
                        At least 8 characters
                      </li>
                      <li>
                        <img [src]="passwordConditions.hasNumber ? correctImage : wrongImage" alt="status">
                        At least 1 number
                      </li>
                      <li>
                        <img [src]="passwordConditions.hasLowercase ? correctImage : wrongImage" alt="status">
                        At least 1 lowercase letter
                      </li>
                      <li>
                        <img [src]="passwordConditions.hasUppercase ? correctImage : wrongImage" alt="status">
                        At least 1 uppercase letter
                      </li>
                      <li>
                        <img [src]="passwordConditions.hasSpecialChar ? correctImage : wrongImage" alt="status">
                        At least 1 special symbol
                      </li>
                    </ul>
                  </div>

                  <label for="reenternewpassword" *ngIf="allPasswordConditionsMet()">Reenter new password</label>
                  <input id="reenternewpassword" formControlName="reenternewpassword" type="text" placeholder="Re-enter your new password" *ngIf="allPasswordConditionsMet()">


                <button type="submit" [disabled]="!enternewpasswordForm.valid">Confirm new password</button>
    
            </form>
        </div>


    </div>
    
   
  
    
   
   
  
 


   



