<div   class="container-skeleton">
 
    <div class="skeleton-header">
                <div class="skeleton-inner-holder">
                            <ngx-skeleton-loader
                            appearance="circle"
                            [theme]="{ width: '40px', height: '40px' }"
                        ></ngx-skeleton-loader>
                        <ngx-skeleton-loader
                            [theme]="{ width: '200px', height: '20px', marginLeft: '10px' }"
                        ></ngx-skeleton-loader>
      
                </div>
       
                              <div class="inner-skeliton-holder">
        

                    
                                <ngx-skeleton-loader
                                [theme]="{ width: '300px', height: '20px', marginLeft: '10px' }"
                            ></ngx-skeleton-loader>

                            <ngx-skeleton-loader
                            [theme]="{ width: '80px', height: '80px', marginLeft: '10px', borderRadius: '15px' }"
                        ></ngx-skeleton-loader>

 


      </div>

    </div>
  
  
  




    


    <div class="skeleton-header">
        <div class="skeleton-inner-holder">
                    <ngx-skeleton-loader
                    appearance="circle"
                    [theme]="{ width: '40px', height: '40px' }"
                ></ngx-skeleton-loader>
                <ngx-skeleton-loader
                    [theme]="{ width: '200px', height: '20px', marginLeft: '10px' }"
                ></ngx-skeleton-loader>

        </div>

                      <div class="inner-skeliton-holder">


            
                        <ngx-skeleton-loader
                        [theme]="{ width: '300px', height: '20px', marginLeft: '10px' }"
                    ></ngx-skeleton-loader>

                    <ngx-skeleton-loader
                    [theme]="{ width: '80px', height: '80px', marginLeft: '10px', borderRadius: '15px' }"
                ></ngx-skeleton-loader>




</div>

</div>





<div class="skeleton-header">
    <div class="skeleton-inner-holder">
                <ngx-skeleton-loader
                appearance="circle"
                [theme]="{ width: '40px', height: '40px' }"
            ></ngx-skeleton-loader>
            <ngx-skeleton-loader
                [theme]="{ width: '200px', height: '20px', marginLeft: '10px' }"
            ></ngx-skeleton-loader>

    </div>

                  <div class="inner-skeliton-holder">


        
                    <ngx-skeleton-loader
                    [theme]="{ width: '300px', height: '20px', marginLeft: '10px' }"
                ></ngx-skeleton-loader>

                <ngx-skeleton-loader
                [theme]="{ width: '80px', height: '80px', marginLeft: '10px', borderRadius: '15px' }"
            ></ngx-skeleton-loader>




</div>

</div>




      

  </div>





 