<div class="heading-holder">
    <span>Popular Groups</span>
    
   </div>

        <div class="inner-group-holder">
            <app-skeleton-widget-popular-groups-and-users *ngIf="isloaidnggroups"></app-skeleton-widget-popular-groups-and-users>
            
            <a *ngFor="let group of populargrouplist"  (click) ="navigatetogroup(group.grouptype,group.groupid,group.groupownerid,group.groupname)">
                <div class="group">
                    <img [src]="group.groupImageUrl" alt="Group Image" class="img">
                    <div class="group-details-holder">
                         <div class="group-type-holder">
                            <span class="group-name">&#64; {{ group.groupname }}</span>
                            <small>( {{ group.grouptype }} )</small>
                         </div>
                        <small class="groupe-members">{{ group.members }} members</small>
                    </div>
                </div>
            </a>

          
            <div class="no-posts-div" *ngIf="populargrouplist.length ==0">
                No Groups Found  
                <img src="../../../assets/images/group.png" alt="">
              
                 
              
              </div>

 
        </div>