<div class="heading-holder">
    <span>Popular groups</span>
    
   </div>

        <div class="inner-group-holder">
            <input type="text" [(ngModel)]="groupSearchText" placeholder="search group" (input)="filterTheGroups()" class="searchgroupinput">
            
            <a *ngFor="let group of populargrouplist"  (click) ="navigatetogroup(group.grouptype,group.groupid,group.groupownerid,group.groupname)">
                <div class="group">
                    <img [src]="group.groupImageUrl" alt="Group Image" class="img">
                    <div class="group-details-holder">
                         <div class="group-type-holder">
                            <span class="group-name">&#64; {{ group.groupname }}</span>
                            <small>( {{ group.grouptype }} )</small>
                         </div>
                        <small class="groupe-members">{{ group.members }} members</small>
                    </div>
                </div>
            </a>

            <div class="nogroupfound-banner" *ngIf="populargrouplist.length ==0">
                  <span>no group found</span>
            </div>



        </div>