form {
    display: flex;
    flex-direction: column;
    
     margin-top: 5px;
    padding: 20px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    position: relative;
 
}

div {
    margin-bottom: 15px;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

input[type="email"],
input[type="text"],
input[type="password"] {
    padding: 8px;
    width: calc(100% - 16px);
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 14px;
}

button {
    padding: 10px 20px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    margin-top: 10px;
}

button:hover {
    background-color: #007bff;
}



.error-banner{
    background-color: red;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.error-banner span{
color: white;
text-align: center;

}

.forgetpassword-div{
    display: flex;
    flex-direction: column;
    width:  30%;
  
    margin: 0px auto;
}


.password-strength-show-panel {
    margin-top: 1px;
  }
  
  .password-strength-show-panel ul {
    list-style-type: none;
    padding: 0;
  }
  
  .password-strength-show-panel li {
    display: flex;
    align-items: center;
    margin: 5px 0;
  }
  
  .password-strength-show-panel li img {
    margin-right: 10px;
    width: 20px;
  }
  
