form {
    display: flex;
    flex-direction: column;
    width: 100%;
     margin-top: 5px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    position: relative;
 
}
.fingerprintimage{
width: 20vh;
}

div {
    margin-bottom: 15px;
}

label {
    font-weight: bold;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5px;
}
label img{
    width: 30px;
height: 30px;
align-items: center;
padding: 5px;
border-radius: 50%;
background-color: white;
margin-right: 10px;
}

input[type="email"],
input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 15px;
    border-radius: 25px;
    margin-top: 5px;
    border: 1px solid #ccc;
   
    box-sizing: border-box;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}
input[type="email"]:focus,input[type="text"]:focus,input[type="password"]:focus{
    border-color: var(--primarycolor); 
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);  
    outline: none;  
}
.enter-code{
    width: 100%;
    
}
.enter-new-password{
    width: 100%;
}
button {
    padding: 15px 20px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    margin-top: 10px;
}

button:hover {
    background-color: #007bff;
}


.backarrow{
    width: 40px;
    height: 40px;
    padding: 5px;
    border-radius: 50%;
    background-color: var(--icon-hover-backgroud-color);
    position: absolute;
    top: 15px;
    left: 15px;
    transition: background-color 0.3s;
    cursor: pointer;
}
.backarrow:hover{
    background-color: var(--icon-backgroud-color);

}

.error-banner{
    background-color: red;
    border-radius: 20px;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.error-banner span{
color: white;
text-align: center;

}

.forgetpassword-div{
    display: flex;
    flex-direction: column;
    width:  40%;
    align-items: center;
    margin: 0px auto;
    padding: 15px;
    border-radius: 20px;
    background-color: var(--primary-faded);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.main-outer-holder{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    
}

.password-strength-show-panel {
    margin-top: 1px;
  }
  
  .password-strength-show-panel ul {
    list-style-type: none;
    padding: 0;
  }
  
  .password-strength-show-panel li {
    display: flex;
    align-items: center;
    margin: 5px 0;
  }
  
  .password-strength-show-panel li img {
    margin-right: 10px;
    width: 20px;
  }
  
