<div class="main-outer-holder">

  <div class="forgetpassword-div">

  <img src="../../../assets/images/backarrow.png" alt="" class="backarrow" (click)="routetologinscreen()">



 
<form [formGroup]="forgetPassword" (ngSubmit)="onSubmitForgetpassword()">


  <div class="error-banner" *ngIf="showinvalidcredentioalsbanner">
    <span>{{message}}</span>
  </div>
    
  
    <div>
      <label for="emailaddress"><img src="../../../assets/images/email.png" alt="">Email Address</label>
      <input id="emailaddress" formControlName="emailaddress" type="email" placeholder="Enter your email address">
    </div> 
    <button type="submit" *ngIf="forgetPassword.valid">Check email address</button>

  </form>







 
  <div class="enter-code" *ngIf="codeissent" >
      <form [formGroup]="entercodeForm" (ngSubmit)="onSubmitCode()">


          
            
          
            <div>
              <label for="code"><img src="../../../assets/images/code.png" alt=""> Enter code</label>
              <input id="code" formControlName="code" type="text" placeholder="Enter the code here">
            </div> 
            <!-- *ngIf="countdown > 0 && codeissent" -->
            <span class="count-down" *ngIf="countdown > 0 && codeissent">{{countdown}} seconds remaining.</span>
    
            <button type="submit" *ngIf="entercodeForm.valid">Confirm code</button>

          
          </form>

         
  </div>

  <button *ngIf="countdown === 0" (click)="resendCode()">Resend Code</button>










 

  <div class="enter-new-password" *ngIf="codeiscorrect">
      <form [formGroup]="enternewpasswordForm" (ngSubmit)="onSubmitnewpassword()" class="resetPassWordForm"  >

          <label for="newpassword"><img src="../../../assets/images/password.png" alt=""> Enter new password</label>
          <input id="newpassword" formControlName="newpassword" type="text" placeholder="Enter your new password" (input)="checkPasswordStrength()">

          <div class="password-strength-show-panel" *ngIf="isPasswordFieldFocused">
              <ul>
                <li>
                  <img [src]="passwordConditions.minLength ? correctImage : wrongImage" alt="status">
             
                  At least 8 characters
                </li>
                <li>
                  <img [src]="passwordConditions.hasNumber ? correctImage : wrongImage" alt="status">
                  At least 1 number
                </li>
                <li>
                  <img [src]="passwordConditions.hasLowercase ? correctImage : wrongImage" alt="status">
                  At least 1 lowercase letter
                </li>
                <li>
                  <img [src]="passwordConditions.hasUppercase ? correctImage : wrongImage" alt="status">
                  At least 1 uppercase letter
                </li>
                <li>
                  <img [src]="passwordConditions.hasSpecialChar ? correctImage : wrongImage" alt="status">
                  At least 1 special symbol
                </li>
              </ul>
            </div>

            <label for="reenternewpassword" *ngIf="allPasswordConditionsMet()"><img src="../../../assets/images/password.png" alt="">Reenter new password</label>
            <input id="reenternewpassword" formControlName="reenternewpassword" type="text" placeholder="Re-enter your new password" *ngIf="allPasswordConditionsMet()">


          <button type="submit" *ngIf="enternewpasswordForm.valid">Confirm new password</button>

      </form>
  </div>


  




</div>



</div>