

<div class="main-outer-holder">



  <div class="left-user-holder">
    <app-feedscreen-user-list></app-feedscreen-user-list>
  </div>






  <div class="feed-container">

    <div class="posts-container">
      <div *ngFor="let post of posts; let i = index">
        <app-post [post]="post" (delete)="handlePostDelete(i)"></app-post>
      </div>
  
      
    </div>
  
  
 
  
  
    <div class="nofollowers-banner" *ngIf="posts.length == 0">
  
  
          <div class="nofollower-inner-holder" *ngIf="!showtheuserlisttofollowBool">
            <p>No Followers Yet</p>
            <button class="addfollowersbtn" (click)="showtheuserlisttofollow()">add followers</button>
          </div>


              
<app-userlist-to-follow *ngIf="showtheuserlisttofollowBool"></app-userlist-to-follow>

    </div>
  </div>




  
  <div class="outer-right-group-holder">

    <div class="right-group-holder">
  
  
      <app-feedscreen-group-list></app-feedscreen-group-list>
   
      </div>
  
      
      <a routerLink="/home/privacy-policy" class="privacy-policy-holder-atag"><div class="privacy-policy-holder">
        <img src="../../../assets/images/policy.png" alt=""> Privacy Policy
      </div>
    </a>

    <a routerLink="/home/attributes" class="privacy-policy-holder-atag"><div class="privacy-policy-holder">
      <img src="../../../assets/images/attributes.png" alt=""> Attributes
    </div>
  </a>
  
  
  </div>
    


</div>





