

.thankful-note {
    margin-top: 20px;  
    font-size: 1.2em;
    margin-bottom: 10px;
}

.main-outer-attrobutes-holder{
    padding: 10px 20px;
}
.custom-list {
    list-style-type: none;  
    padding: 0;          
    margin: 0;          
}

.custom-list li {
    position: relative; 
    padding-left: 20px; 
    margin-bottom: 10px;  
}

.custom-list li::before {
    content: ""; 
    position: absolute;  
    left: 0; 
    top: 50%;  
    transform: translateY(-50%);  
    width: 8px;  
    height: 8px;  
    background-color: blue;  
    border-radius: 50%;  
}
.backarrow-holder{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.backarrow-holder H1{
    padding: 15px;
    margin-left: 10px;
}

.backarrow{
    width: 40px;
    height: 40px;
    padding: 5px;
    border-radius: 50%;
    background-color: var(--icon-hover-backgroud-color);
    position: relative;
    left: 5px;
    transition: background-color 0.3s;
    cursor: pointer;
    top: -2px;
  }
  .backarrow:hover{
    background-color: var(--icon-backgroud-color);
  
  }
  
.custom-list li a {
    color: black;  
    text-decoration: none;  
}

.custom-list li a:hover {
    text-decoration: underline;  
}






@media (max-width: 500px) {  

   
    .backarrow{
      display: none; 
    }
 
  
    
  }