<div class="main-outer-attrobutes-holder">
    <div class="backarrow-holder">
      <a routerLink="">
        <img src="../../../assets/images/backarrow.png" alt="" class="backarrow">
      </a>
      <h1>Attributes</h1>
    </div>

<div class="thankful-note">
    <p>All these icons are sourced from Freepik. We are really thankful for making our application more beautiful.</p>
</div>


<ul class="custom-list">
    <li><a href="https://www.flaticon.com/authors/kornkun" target="_blank">Kornkun</a></li>
</ul>


<ul class="custom-list">
    <li><a href="https://www.flaticon.com/authors/gregor-cresnar" target="_blank">Gregor-cresnar</a></li>
</ul>


<ul class="custom-list">
    <li><a href="https://www.flaticon.com/authors/prosymbols-premium" target="_blank">Prosymbols-premium</a></li>
</ul>


<ul class="custom-list">
    <li><a href="https://www.flaticon.com/authors/magicaljhola" target="_blank">Magicaljhola</a></li>
</ul>


<ul class="custom-list">
    <li><a href="https://www.flaticon.com/authors/kirill-kazachek" target="_blank">Kirill-kazachek</a></li>
</ul>

<ul class="custom-list">
    <li><a href="https://www.flaticon.com/authors/dmitri13" target="_blank">Dmitri13</a></li>
</ul>

<ul class="custom-list">
    <li><a href="https://www.flaticon.com/authors/fuzzee" target="_blank">Fuzzee</a></li>
</ul>

<ul class="custom-list">
    <li><a href="https://www.flaticon.com/authors/bingge-liu" target="_blank">Bingge-liu</a></li>
</ul>


<ul class="custom-list">
    <li><a href="https://www.flaticon.com/authors/alkhalifi-design" target="_blank">Alkhalifi-design</a></li>
</ul>


<ul class="custom-list">
    <li><a href="https://www.flaticon.com/authors/royyan-wijaya" target="_blank">Royyan-wijaya</a></li>
</ul>

<ul class="custom-list">
    <li><a href="https://www.flaticon.com/authors/pixel-perfect" target="_blank">Pixel-perfect</a></li>
</ul>


<ul class="custom-list">
    <li><a href="https://www.flaticon.com/authors/maan-icons" target="_blank">Maan-icons</a></li>
</ul>


<ul class="custom-list">
    <li><a href="https://www.flaticon.com/authors/anggara" target="_blank">Anggara</a></li>
</ul>


<ul class="custom-list">
    <li><a href="https://www.flaticon.com/authors/srip" target="_blank">Srip</a></li>
</ul>

<ul class="custom-list">
    <li><a href="https://www.flaticon.com/authors/rendyudha" target="_blank">Rendyudha</a></li>
</ul>

<ul class="custom-list">
    <li><a href="https://www.flaticon.com/authors/ghufronagustian" target="_blank">Ghufronagustian</a></li>
</ul>


<ul class="custom-list">
    <li><a href="https://www.flaticon.com/authors/catalin-fertu" target="_blank">Catalin-fertu</a></li>
</ul>



<ul class="custom-list">
    <li><a href="https://www.flaticon.com/authors/logisstudio" target="_blank">Logisstudio</a></li>
</ul>


<ul class="custom-list">
    <li><a href="https://www.flaticon.com/authors/creatype" target="_blank">Creatype</a></li>
</ul>


<ul class="custom-list">
    <li><a href="https://www.flaticon.com/authors/kiranshastry" target="_blank">Kiranshastry</a></li>
</ul>


<ul class="custom-list">
    <li><a href="https://www.flaticon.com/authors/rahul-kaklotar" target="_blank">Rahul-kaklotar</a></li>
</ul>


<ul class="custom-list">
    <li><a href="https://www.flaticon.com/authors/icongeek26" target="_blank">Icongeek26</a></li>
</ul>


 





</div>