<div class="main-scroller-holder" #videoHolder>
  <a routerLink="/">
    <img src="../../../assets/images/close.png" alt="" class="closeicon">
  </a>

  <div class="innerholder">
    <div [ngClass]="screen" *ngFor="let video of videoList; let i = index">
 
      <div class="profile-container" *ngIf="!(getthecommentsBool && selectedPostId === video.postid)">
        <img [src]="video.profileImageUrl" alt="User Profile Image" class="profile-image">
        <div class="postdetails">
          <p>{{video.username}}</p>
          <small>{{ calculateTimeAgo(video.posteddate) }}</small>
        </div>

      </div>

 
      <div [ngClass]="viode_inner_holder_responsiveness" *ngIf="!(getthecommentsBool && selectedPostId === video.postid)">
        <span class="viodediscription">{{video.postdescription}}</span>

                 <div class="inner1-holder">
                  <video *ngIf="video.videoUrl" #videoElement controls class="video" [attr.id]="'video' + i">
                    <source [src]="video.videoUrl" type="video/mp4">
                    Your browser does not support the video tag.
                  </video>
          
                  <div class="functions-btn-holder">
                    


                 




                    <div class="like-icon-holder">
                     
                      <span *ngIf="likedornottext[video.postid] === 'yes'" class="dot liked-dot" (click)="addliketoviode($event,video, video.postid,video.userid,video.userprofile,video.username)" [attr.data-postid]="video.postid">
                      </span>
                  
                      <span *ngIf="likedornottext[video.postid] !== 'yes'" class="dot dot-blue" (click)="addliketoviode($event,video, video.postid,video.userid,video.userprofile,video.username)" [attr.data-postid]="video.postid">
                      </span>

                      <small *ngIf="video.likeCount>0" >{{video.likeCount}} likes</small>

                    </div>





                    









          
                    <div class="icon-wrapper" (click)="getthecomments($event, video.postid)">
                      <img src="../../../assets/images/comment.png" alt="add comment">
                    </div>
          
                   
                  </div>

                 </div>
      </div>
 
         <div class="commentscreen-holder">
          <app-comment *ngIf="getthecommentsBool && selectedPostId === video.postid" [postid]="selectedPostId"></app-comment>
         </div>
    </div>
  </div>
</div>
