 

.main-scroller-holder {
  height: 100vh; 
  width: 100%; 
  overflow-y: scroll; 
  scroll-snap-type: y mandatory;  
  scrollbar-width: thin;  
  margin: 0 auto;  
}

.innerholder {
  height: 100%; 
}

.screen {
  height: 100vh; 
  width: 70%;  
  scroll-snap-align: start; 
  display: flex; 
  justify-content: center;  
  align-items: center; 
  padding: 50px;
  flex-direction: column;
  margin: 0 auto;
}

.video {
   
 
  max-width: 100%;  
  border-radius: 10px;
  height: 75vh;
  
}

.main-scroller-holder::-webkit-scrollbar  {
  width: 5px;  
}

.main-scroller-holder::-webkit-scrollbar-track {
  background: #f1f1f1;  
}

.main-scroller-holder::-webkit-scrollbar-thumb {
  background: #888;  
}

.main-scroller-holder::-webkit-scrollbar-thumb:hover {
  background: #555;  
}


.closeicon {
  padding: 15px;
  width: 50px;
  background-color: var(--icon-backgroud-color);
  border-radius: 50%;
  position: absolute;
  top: 100px;
  right: 20px;
  cursor: pointer;
  transition: transform 0.5s, background-color 0.5s;  
}

 


.closeicon:hover {
  transform: rotate(90deg); 
  background-color:var(--icon-hover-backgroud-color);
}


.profile-container{
  display: flex;
  width: 100%;
  margin-bottom: 10px;
}

 
.profile-image{
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
.profile-image.spinning {
  animation: spin 20s linear infinite; 
}

.icon-wrapper-menu img {
  max-width: 100%;
}
.icon-wrapper-menu{
  position: absolute;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  padding: 5px;
  display: flex;
  background-color: rgba(255, 255, 255, 0.596);
  align-items: center;
  justify-content: center;
  padding: 10px;
  top: 10px;
  right: 10px;
  transition: transform 0.5s, background-color 0.5s;
  cursor: pointer;
  z-index: 101;
}

.dropdown-menu {
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  top: 45px;  
  right: 5px; 
  z-index: 1000;
  width: 150px;  
}
.dropdown-menu img{
  width: 20px;
  margin-right: 10px;
}
.dropdown-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.dropdown-menu li {
  padding: 10px;
  cursor: pointer;
  display: flex;
  
}

.bottom-message {
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 15px 20px;
  border-radius: 25px;
  
  transition: opacity 0.5s ease;
  z-index: 1000;
}


.dropdown-menu li:hover {
  background-color: #f0f0f0;
}

@keyframes spin {
  0% {
    transform: rotate(0deg); 
  }
  100% {
    transform: rotate(360deg); /
  }
}

.postdetails{
  display: flex;
  flex-direction: column;
  margin-left: 15px;

}

.postdetails p{
  color: black;
  font-weight: bold;
}

.viode-inner-holder{
  display: flex;
  flex-direction: column;
 
}

.inner1-holder {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  justify-content: center;
  align-items: flex-end;
}

.video-wrapper {
  position: relative;
}
 
.overlay-text {
  position: absolute;
  top: 10px;
  left: 10px;
  color: white;
  font-size: 1em;
  font-weight: bold;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.overlay-text-duration {
  position: absolute;
  top: 30px;
  left: 10px;
  color: white;
  font-size: 12px; 
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  z-index: 10;
}


.functions-btn-holder{
  display: flex;
  gap: 5px;
  flex-direction: column;
  padding: 10px;
  height: 50%;
  justify-content: flex-end;
}


.icon-wrapper {
  width: 50px;
  height: 50px;
  background-color: var(--icon-hover-backgroud-color);
  border-radius: 50%;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  padding: 10px;
  transition: transform 0.5s, background-color 0.5s;  
cursor: pointer;
}

.icon-wrapper img {
  max-width: 100%;
}

.icon-wrapper:hover{
  background-color:var(--icon-backgroud-color);
}
.commentscreen-holder {
  overflow-y: scroll;  
  width:100vw;  
  scrollbar-width: none; 
  -ms-overflow-style: none; 
}
 
.commentscreen-holder::-webkit-scrollbar {
  display: none;  
}

 
.video-description {
  position: absolute;
  left: 10px;
  bottom: 70px;
  right: 10px;
  max-height: 95px;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 101;
  color: #FFFFFF;
  
  border-radius: 10px;  
  padding: 10px;  
}

 
.video-description::-webkit-scrollbar {
  width: 2px;  
}

.video-description::-webkit-scrollbar-thumb {
  background-color: #FFFFFF;  
  border-radius: 10px; 
}

.video-description::-webkit-scrollbar-track {
  background-color: #f1f1f1;  
  border-radius: 10px;  
}

 

.see-more {
  color: blue;
  cursor: pointer;
  text-decoration: underline;
}

.like-icon-holder{
  display: flex;
  flex-direction: column;
  margin-left: 5px;
}
.like-icon-holder-mobile{
  display: flex;
  flex-direction: column;
  margin-left: 5px;
  display: none; 
}




.liked-dot {
    
  height: 35px;
  width: 35px;
  border-radius: 50%;
  border-width: 4px;
  border-style: solid;
  border-color: #00bcd4;
  display: inline-block;
  cursor: pointer;
  transition: border-width 0.3s ease, transform 0.3s ease;
}

.liked-dot:hover {
  border-width: 3px;  
  transform: scale(1.1);
  
}

.dot-blue {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  border-width: 3px;
  border-style: solid;
  border-color: #00bcd4;
  display: inline-block;
  cursor: pointer;
  transition: border-width 0.3s ease;
}

.dot-blue:hover {
 
  border-width: 4px;  
}










  
@media (max-width: 500px) {  
 
  .inner1-holder{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .functions-btn-holder{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .profile-container img{
    border-radius: 50%;
    width: 50px;
    height: 50px;
  }

  .commentscreen-holder{
    width: 100vw;
  }
  .video {
    max-width: 95vw;   
    
  }

  .screen{
    width: 95vw;
  }
   .viode_inner_holder_pc{
    margin-top: 60px;
   }
   .closeicon[_ngcontent-ng-c3235546419] {
    padding: 7px;
    width: 30px;
    background-color: var(--icon-backgroud-color);
    border-radius: 50%;
    position: absolute;
    top: 70px;
    right: 5px;
    cursor: pointer;
    transition: transform 0.5s, background-color 0.5s;
}
  
.bottom-message{
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bottom-message span{
  text-align: center;
}

}


 



 