 
.main-holder-outer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: 0px auto;
  height: 100VH;
  background-color: var(--primary-faded);
 
  padding: 0px 15px;
}
.main-holder-outer form{
width: 50%;
background: linear-gradient(to bottom, var(--primarycolor), #00008b); 
border-radius: 20PX;
padding: 15px;
}
.main-holder-outer form label{
  color: white;
  display: flex;
  flex-direction: row;
}
.main-holder-outer form label img{
width: 30px;
height: 30px;
align-items: center;
padding: 5px;
border-radius: 50%;
background-color: white;
margin-right: 10px;
}

 .image-holder{
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 10px;
 }

 .text-holder{
  display: flex;
  flex-direction: column;
 }
 .text-holder .ravoom-text{
font-size: 3vh;
color: black;
 }
 .text-holder span{
  color: black;
  opacity: 0.7;
 }

.contect-details-holder{
display: flex;
flex-direction: row;
margin-top: 50px;
}

.need-help{
  display: flex;
  flex-direction: row;
 
  align-items: center;
}
.need-help img{
 width: 20px;
 height: 20px;
 margin-right: 10px;
}
.social-icon-holder{
  display: flex;
  flex-direction: row;
  width: 20%;
 margin-top: 20px;
 

}
.need-help-button{
padding: 10px;
border-radius: 50px;
border: 2px solid var(--primarycolor);
cursor: pointer;
margin-left: 10px;
transition: background-color 0.3s;
}
.need-help-button:hover{
  background-color:var(--primarycolor);
  color: white;
}

.social-icon-holder img{
  width: 30px;
  margin: 2px;
  height: 30px;
  cursor: pointer;
}

 .image-holder {
width: 50%;
 }

 .main-image{
  display: block;
  margin: 0px auto;
  width: 50vh;
  height: 40vh;
  text-align: center;
 }

.password-eye-holder{
  display: flex;
  flex-direction: row;
  
  align-items: center;
  justify-content: start;
}
.eyeimage{
  width: 30px;
margin-left: 10px;
cursor: pointer;
padding: 5px;
border-radius: 50%;
background-color: rgba(255, 255, 255, 0.432);
transition: background-color 0.2s;
}
.eyeimage:hover{
  background-color: rgba(128, 128, 128, 0.308);
}

.error-banner {
  position: sticky;
  top: 20px;  
  z-index: 1000;  
  background-color: red;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.good-banner{
  position: sticky;
  top: 20px;  
  z-index: 1000;  
  background-color: rgb(5, 148, 0);
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}


.agebelow18{
  position: sticky;
  top: 20px;  
  font-family: 'Open Sans', sans-serif;
  z-index: 1000;  
  background-color: red;
  border-radius: 15px;
  padding: 15px;
  margin-top: 5px;
  
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  width: 100%;
}

.bannertext {
  color: white;
  text-align: center;
}

 

label {
  display: block;
  margin-bottom: 5px;
  margin-top: 10px;
  font-weight: bold;
 
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="date"],
input[type="file"] {
  width: 100%;
  padding: 15px;
  border-radius: 25px;
  margin-top: 5px;
  border: 1px solid #ccc;
 
  box-sizing: border-box;
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;  
}

 
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="date"]:focus,
input[type="file"]:focus {
  border-color: #0400fc; 
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);  
  outline: none;  
}
button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: rgb(43,149,236);
  color: white;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: rgba(43,149,236, 0.1);
  color: rgb(43,149,236);
  border: 1px solid rgb(43,149,236);
}

.image-preview {
  margin-top: 10px;
  max-width: 100%;
  max-height: 200px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

 
.form-control {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 5px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

 

.red{
  color: red;
  font-weight: bold;
}
.green{
  color: green;
  font-weight: bold;
}



.password-strength-show-panel {
  margin-top: 10px;
}

.password-strength-show-panel ul {
  list-style-type: none;
  padding: 0;
}

.password-strength-show-panel li {
  display: flex;
  align-items: center;
  margin: 5px 0;
  color: white;
}

.password-strength-show-panel li img {
  margin-right: 10px;
  width: 20px;
}
.logintag{
  color: var(--primarycolor);
  font-size: 15px;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  padding: 8px 15px;
  position: relative;
 top: 35px;
 border-radius: 50px;
 background-color: white;
 transition: background-color 0.2s;
 box-shadow: -1px 5px 10px 1px rgba(0, 0, 0, 0.2);

}
.logintag:hover{
  background-color: var(--primarycolor);
  color: white;
}










