 
.main-holder-outer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: 0px auto;
  height: 100VH;
  padding: 0px 15px;
}
.main-holder-outer form{
width: 50%;
border: 1px solid #ccc;
border-radius: 20PX;
padding: 15px;
position: relative;
}
.main-holder-outer form label{
  color: black;
  display: flex;
  flex-direction: row;
  align-items: center;
}
 
 .image-holder{
 height: 100vh;
  display: flex;
  flex-direction: column;
 
  padding: 10px;
 }
 .image-holder img{
  object-fit: contain;
 }
 .text-holder{
  display: flex;
  flex-direction: column;
 }
 .text-holder .ravoom-text{
font-size: 3vh;
color: black;
margin-left: 6px;
 }
 

 
.form-group{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
 .selectprofileimageicon{
  cursor: pointer;
  width: 100px;
 }
 
 

 .main-image{
  display: block;
  margin: 0px auto;
  width: 50vh;
 }

.password-eye-holder{
  display: flex;
  flex-direction: row;
  
  align-items: center;
  justify-content: start;
}
.eyeimage{
  width: 30px;
margin-left: 10px;
cursor: pointer;
padding: 5px;
border-radius: 50%;
background-color: rgba(255, 255, 255, 0.432);
transition: background-color 0.2s;
}
.eyeimage:hover,.reset-icon:hover{
  background-color: rgba(128, 128, 128, 0.308);
}

.reset-icon{
  top: 10px;
  right: 10px;
  width: 30px;
  position: absolute;
  cursor: pointer;
  padding: 5px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.432);
  transition: background-color 0.2s;
}

.close-icon{
  width: 30px;
  cursor: pointer;
  padding: 5px;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  transition: background-color 0.2s;
  transition: background-color 0.2s;

}
.close-icon:hover{
  background-color: rgba(255, 255, 255, 0.699);

}
.error-banner {
  position: sticky;
  top: 20px;  
  z-index: 1000;  
  background-color: red;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.good-banner{
  position: sticky;
  top: 20px;  
  z-index: 1000;  
  background-color: rgb(5, 148, 0);
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}


.agebelow18{
  position: sticky;
  top: 20px;  
  font-family: 'Open Sans', sans-serif;
  z-index: 1000;  
  background-color: red;
  border-radius: 15px;
  padding: 15px;
  margin-top: 5px;
  
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  width: 100%;
}

.bannertext {
  color: white;
  text-align: center;
}

 

label {
  display: block;
  margin-bottom: 5px;
  margin-top: 10px;
  font-weight: bold;
 
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="date"],
input[type="file"] {
  width: 100%;
  padding: 15px;
  border-radius: 25px;
  margin-top: 5px;
  border: 1px solid #ccc;
 
  box-sizing: border-box;
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;  
}

 
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="date"]:focus,
input[type="file"]:focus {
  border-color:var(--primarycolor); 
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);  
  outline: none;  
}



button {
  width: 100%;
  display: inline-block;
  padding: 15px 20px;
  border: 1px solid #ccc;
  border-radius: 25px;
  background-color: var(--primary-dark);
  color: white;
  cursor: pointer;
  transition: background-color 0.5s, color 0.5s;
  margin-top: 20px; 
  font-size: 20px;  
}

button:hover {
  background-color: rgba(43,149,236, 0.1);
  color: rgb(43,149,236);
  border: 1px solid rgb(43,149,236);
}

.preloader{
  width: 30px;
  display: block;
  margin: 0px auto;
  margin-top: 10px;
}

.image-preview {
  margin-top: 10px;
  width: 100px;
  height: 100px;
  border: 1px solid #ddd;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.image-preview:hover {
  transform: scale(1.2);  
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);  
}


.profileimahehodler{
  position: relative;
}
 
 
.form-control {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 5px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

 

.red{
  color: red;
  font-weight: bold;
}
.green{
  color: green;
  font-weight: bold;
}



.password-strength-show-panel {
  margin-top: 10px;
}

.password-strength-show-panel ul {
  list-style-type: none;
  padding: 0;
}

.password-strength-show-panel li {
  display: flex;
  align-items: center;
  margin: 5px 0;
  color: black;
}

.password-strength-show-panel li img {
  margin-right: 10px;
  width: 20px;
}
.logintag{
  color: var(--primarycolor);
  font-size: 15px;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  padding: 8px 15px;
  position: relative;
 top: 35px;
 border-radius: 50px;
 background-color: white;
 transition: background-color 0.2s;
 box-shadow: -1px 5px 10px 1px rgba(0, 0, 0, 0.2);
 cursor: pointer;

}
.logintag:hover{
  background-color: var(--primarycolor);
  color: white;
}

.icon-wrapper {
  width: 30px;
  height: 30px;
  background-color:var(--icon-hover-backgroud-color);
  border-radius: 50%;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}
.cam-icon-wrapper{
  width: 30px;
  height: 30px;
  background-color:var(--primarycolor);
  border-radius: 50%;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  position: absolute;
  bottom: 0px;
  right: 0px;
}
.cam-icon-wrapper img{
  max-width: 100%;
}
.icon-wrapper img {
  max-width: 100%;
}








