<div   class="container-skeleton">
 
    <div class="skeleton-header">
      <ngx-skeleton-loader
        appearance="circle"
        [theme]="{ width: '50px', height: '50px' }"
      ></ngx-skeleton-loader>
       
      <div class="inner-skeliton-holder">
        <ngx-skeleton-loader
        [theme]="{ width: '200px', height: '20px', marginLeft: '10px' }"
      ></ngx-skeleton-loader>

      <ngx-skeleton-loader
      [theme]="{ width: '200px', height: '20px', marginLeft: '10px' }"
    ></ngx-skeleton-loader>

      </div>

    </div>
  
  
  




    <div class="skeleton-header">
        <ngx-skeleton-loader
          appearance="circle"
          [theme]="{ width: '50px', height: '50px' }"
        ></ngx-skeleton-loader>
         
        <div class="inner-skeliton-holder">
          <ngx-skeleton-loader
          [theme]="{ width: '200px', height: '20px', marginLeft: '10px' }"
        ></ngx-skeleton-loader>
  
        <ngx-skeleton-loader
        [theme]="{ width: '200px', height: '20px', marginLeft: '10px' }"
      ></ngx-skeleton-loader>
      
        </div>
  
      </div>




      <div class="skeleton-header">
        <ngx-skeleton-loader
          appearance="circle"
          [theme]="{ width: '50px', height: '50px' }"
        ></ngx-skeleton-loader>
         
        <div class="inner-skeliton-holder">
          <ngx-skeleton-loader
          [theme]="{ width: '200px', height: '20px', marginLeft: '10px' }"
        ></ngx-skeleton-loader>
  
        <ngx-skeleton-loader
        [theme]="{ width: '200px', height: '20px', marginLeft: '10px' }"
      ></ngx-skeleton-loader>
      
        </div>
  
      </div>



      <div class="skeleton-header">
        <ngx-skeleton-loader
          appearance="circle"
          [theme]="{ width: '50px', height: '50px' }"
        ></ngx-skeleton-loader>
         
        <div class="inner-skeliton-holder">
          <ngx-skeleton-loader
          [theme]="{ width: '200px', height: '20px', marginLeft: '10px' }"
        ></ngx-skeleton-loader>
  
        <ngx-skeleton-loader
        [theme]="{ width: '200px', height: '20px', marginLeft: '10px' }"
      ></ngx-skeleton-loader>
      
        </div>
  
      </div>

      

  </div>





 