
<div  class="group-main-holder">
  <app-skeleton-widget-group *ngIf="groupdataisloading"></app-skeleton-widget-group>
</div>

<div class="group-main-holder" *ngIf="group">

  
<a routerLink='' class="gobackatag" *ngIf="!selectedgroupid">
    <img src="../../../assets/images/backarrow.png" alt="" class="backarrow" >  
</a>

    <div *ngIf="group.groupbackgroundimage" class="groupbackgroundimage" >
        <img [src]="groupbackgroundimage" alt="Group Background Image" class="groupbackgroundimage" (click)="onImageClick()" >
        <div class="icon-wrapper" (click)="settings()" *ngIf="groupownerid == userid"><img src="../../../assets/images/camera.png" alt="" > </div>
        <div class="overlay"></div>
      </div>

     

 
      <app-image-larger *ngIf="showLargerImage" [imageUrl]="'data:image/jpeg;base64,' + group?.groupbackgroundimage" (close)="onCloseLargerImage()"></app-image-larger>


    <div *ngIf="group.groupimage" class="groupimageholder">
      <img [src]="groupimage" alt="Group Image" class="groupimage" (click)="onSmallGroupImageImageClick()">
      <app-image-larger *ngIf="showSmallergroupLargerImage" [imageUrl]="'data:image/jpeg;base64,' + group?.groupimage" (close)="onCloseSmallergroupimageLargerImage()"></app-image-larger>


                   <div class="detail-holder">
                    <h2 class="groupname">{{ groupname }}</h2>
                   
                    <span class="grouptype">{{ group.grouptype }}</span>
            

                  
                    
                    <small class="followerscount">{{followerscount}} members</small>

                    <span (click)="addgrouppost()" class="createpostspan" *ngIf="isuserjoinggroup">Create Post</span>

                   </div>
    </div>
  
    <span (click)="addgrouppost()" class="createpostspanmobile" *ngIf="isuserjoinggroup">Create New Post</span>


    <div class="navigation-holder">
        <button (click)="showhome()"  [class.selected]="showhomeBool" class="navigationsbuttons">Home</button>
        <button (click)="showfollowers()"  [class.selected]="showfollowersBool" class="navigationsbuttons">Followers ({{userList.length}})</button>
        <button (click)="showrequests()"  [class.selected]="showrequestsBool" class="navigationsbuttons" *ngIf="groupownerid == userid">Requests ({{userRequests.length}})</button>
        <button (click)="adduser()"  [class.selected]="showadduserBool" class="navigationsbuttons" *ngIf="groupownerid == userid">Add User</button>
        <button (click)="settings()"  [class.selected]="showsettingsBool" class="navigationsbuttons" *ngIf="groupownerid == userid">Setings</button>
 
        <div class="button-holder" *ngIf="this.currunusertype !='admin' && userid !=''">
            <span (click)="joingroup(group.groupid)">{{btntext}}</span>
          </div>

    </div>
 




    <div class="posts-wrapper" *ngIf="showhomeBool">
        <div *ngFor="let post of groupposts; let i = index">
          <app-post [post]="post"></app-post>
        </div>

        <div class="nopostbanner" *ngIf="groupposts.length == 0">
            <span>No posts yet</span>
        </div>

      </div>


      

<app-add-post-group   (postAdded)="onPostAdded()" *ngIf="showaddpostgroup" (closePost)="showaddpostgroup = false"  [groupid]="groupid" [grouptype]="grouptype" [groupname] ="groupname"></app-add-post-group>
  






 
  
   

 

  
  <div class="group-users-holder" *ngIf="showfollowersBool">
    <input type="text" placeholder="search users" (input)="searchfollowers(searchusernamevalue.value)" #searchusernamevalue>


    <ul>
        <li *ngFor="let user of userList">
            <div class="user-profile">
                <img *ngIf="user.profileimageBlobUrl" [src]="user.profileimageBlobUrl" alt="User Profile Image" class="profile-image">
                <div class="user-details">
                    <div class="user-header">
                        <div>
                            <span class="username">{{ user.username }}</span>
                            <small > <b> : Joined on {{ user.joined_date | date: 'mediumDate' }}</b> </small>

                        </div>

                       

                    </div>
                    <small class="usertype">{{ user.usertype }}</small>
                  
                </div>


                <div class="dropdown" [ngClass]="{'open': user.dropdownOpen}" *ngIf="user.usertype !='admin' ">
                    <img src="../../../assets/images/threedots.png" alt="" *ngIf="this.currunusertype !='user'" class="dropdown-toggle" type="button" id="dropdownMenuButton" (click)="toggleDropdown(user)" aria-haspopup="true" aria-expanded="false" >

                  
                   <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                       <a class="dropdown-item" *ngIf="this.currunusertype =='admin' " (click)="changeusertype(user,user.userid , user.username,'admin')">Make as admin</a>

                       <a class="dropdown-item" *ngIf="this.currunusertype =='admin'" (click)="changeusertype(user,user.userid , user.username,'mod')">Make as moderator</a>

                       <a class="dropdown-item" *ngIf="this.currunusertype =='mod'" (click)="changeusertypemodtouser(user,user.userid)">Remove my moderator</a>


                       <a class="dropdown-item" *ngIf="this.currunusertype =='admin' || this.currunusertype =='mod'" (click)="changeusertype(user,user.userid , user.username,'user')">Make as User</a>
                       <a class="dropdown-item" *ngIf="this.currunusertype =='admin'"  (click)="removeuser(user,user.userid,user.username)">Remove {{user.username}}</a>
                   </div>
               </div>


            </div>
        </li>
        <li *ngIf="userList.length === 0">No Users Found</li>
    </ul>
</div>









<div class="group-users-holder" *ngIf="showrequestsBool">
    
  <ul>
      <li *ngFor="let user of userRequests">
          <div class="user-profile">
              <img *ngIf="user.profileimageBlobUrl" [src]="user.profileimageBlobUrl" alt="User Profile Image" class="profile-image">
              <div class="user-details">
                  <div class="user-header">
                    <div>
                        <span class="username">{{ user.username }}</span>
                        <small > <b> : Joined on {{ user.joined_date | date: 'mediumDate' }}</b> </small>
                    </div>

                      

                  </div>
                  <span class="usertype">{{ user.usertype }}</span>
                
              </div>

              <div class="dropdown" [ngClass]="{'open': user.dropdownOpen}" *ngIf="user.usertype !='admin' ">
                <img src="../../../assets/images/threedots.png" alt="" *ngIf="this.currunusertype !='user'" class="dropdown-toggle" type="button" id="dropdownMenuButton" (click)="toggleDropdown(user)" aria-haspopup="true" aria-expanded="false">

                 
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">


                      <a class="dropdown-item" *ngIf="this.currunusertype =='admin'" (click)="acceptuser(user,user.userid)">Accept {{user.username}}</a>
                   
                      <a class="dropdown-item-remove" *ngIf="this.currunusertype =='admin'"  (click)="removeuser(user,user.userid,user.username)">Remove {{user.username}}</a>
                  </div>
              </div>

          </div>
      </li>
  </ul>

  <div class="nopostbanner" *ngIf="userRequests.length == 0">
    <span>No requests yet</span>
</div>

</div>






 





 <div *ngIf="showadduserBool" class="group-users-holder">

    
    <div class="show-selecting-user-list-names" *ngIf="selecteduserList.length > 0">
        <span class="count">Selected Users: {{ selecteduserList.length }}/5</span>

  
        <ul>
          <li *ngFor="let user of selecteduserList">
            <img *ngIf="user.profileBlobUrl" [src]="user.profileBlobUrl" alt="Selected User Profile Image" class="selected-profile-image">
            <span class="selected-username">{{ user.username }}</span>
          </li>
        </ul>
        <button (click)="addFollowedUsersIntoGroup()" [disabled]="selecteduserList.length === 0">Add this {{selecteduserList.length}}</button>
      </div>

      <input type="text" placeholder="search users" (input)="searchallusers(searchallusersnamevalue.value)" #searchallusersnamevalue>





 
      <ul *ngIf="serachAllUsersList.length > 0 && isstarttoseachrallusers">
        
        <li *ngFor="let user of serachAllUsersList">
            <div class="user-profile">
                <img *ngIf="user.profileBlobUrl" [src]="user.profileBlobUrl" alt="User Profile Image" class="profile-image">
                <div class="user-details">
                    <div class="user-header">
                        <span class="username">{{ user.username }}</span>
                        <div class="dropdown" *ngIf="currunusertype === 'admin'">
                            <input type="checkbox" name="selectedUser" [checked]="isSelected(user)" (change)="selectUser(user)" [disabled]="selecteduserList.length >= 5 && !isSelected(user)">
                        </div>
                    </div>
                    <span class="usertype">{{ user.usertype }}</span>
                </div>
            </div>
        </li>
       
    </ul>

    <div class="no-serach-users" *ngIf="serachAllUsersList.length ==0 && isstarttoseachrallusers">
        <span>no serached users</span>
    </div>

    










    <ul *ngIf="curruntuserisFollowedList.length > 1 && !isstarttoseachrallusers">
        
        <li *ngFor="let user of curruntuserisFollowedList">
            <div class="user-profile">
                <img *ngIf="user.profileBlobUrl" [src]="user.profileBlobUrl" alt="User Profile Image" class="profile-image">
                <div class="user-details">
                    <div class="user-header">
                        <span class="username">{{ user.username }}</span>
                      
  
                        <div class="dropdown"    *ngIf="currunusertype =='admin'">
                            <input type="checkbox" name="selectedUser" [checked]="isSelected(user)" (change)="selectUser(user)" [disabled]="selecteduserList.length >= 5 && !isSelected(user)">
                        </div>
  
                    </div>
                    <span class="usertype">{{ user.usertype }}</span>
                     
                </div>
            </div>
        </li>


        

    </ul>
      <div class="no-users" *ngIf="curruntuserisFollowedList.length == 1 && !isstarttoseachrallusers">
        <span>No Users Found</span>
      </div>
 </div>

  
    


 <div *ngIf="showsettingsBool" class="group-settings-holder">

      <div  class="bannerClass"  *ngIf="showimageupdatedbanner" >
        <span class="bannertext">Updated</span>
      </div>


    <input type="text" [value]="group.groupname" #groupname (input)="updatethegroupname(group.groupname,groupname.value)">
  
   
    <div class="groupsettingimageholder">

        

        <div class="image-cropper-container"  *ngIf="imageChangedEvent">
            <small>Grag and crop the image</small>
            <image-cropper
             
              [imageChangedEvent]="imageChangedEvent"
              [maintainAspectRatio]="true"
              [aspectRatio]="16 / 9"
              format="png"
              (imageCropped)="imageCropped($event)"
              (imageLoaded)="imageLoaded($event)"
              (cropperReady)="cropperReady()"
              (loadImageFailed)="loadImageFailed()">
            </image-cropper>
          </div>


    <img [src]="groupbackgroundimage" alt="Group Background Image" class="groupbackgroundimageupdate" *ngIf="!imageChangedEvent">
   
    <div class="setting-btn-holder">
        <label for="backgroudimage" class="file-input-label">Update Background Image</label>

        <input type="file" class="updatebackgroundimage" id="backgroudimage" (change)="onBackgroundImageSelected($event)" style="display: none;">
        <small *ngIf="groupbackgroundimageupdateddate; else notUpdated">
            Last updated: {{ groupbackgroundimageupdateddate | date: 'yyyy-MMMM-dd' }}
          </small>
          <ng-template #notUpdated>
            <small>Not updated</small>
          </ng-template>
    </div>
    </div>
  
 
   <div class="groupsettingimageholder">
    <img [src]="groupimage" alt="Group Image" class="groupimageupdate">
  

    <div class="setting-btn-holder">
        <label for="groupimage" class="file-input-label">Update Group Image</label>
        <input type="file" class="updategroupimage" id="groupimage" (change)="onGroupImageSelected($event)" style="display: none;">
    

        <small *ngIf="groupimageupdateddate; else groupimageupdateddatenotUpdated">
            Last updated: {{ groupimageupdateddate | date: 'yyyy-MMMM-dd' }}
          </small>
          <ng-template #groupimageupdateddatenotUpdated>
            <small>Not updated</small>
          </ng-template>


    </div>


    
   </div>
  
    <div class="groupsettingbuttonholder">
        <span class="removebutton" (click)="removegroup(group.groupid )">     
             <img src="../../../assets/images/delete.png" alt="">
            
            Remove Group</span>

        <span class="updategroupinformation" (click)="updateGroupInformation(group.groupid ,groupname.value)">Update Information</span>
     
 
    </div>

  </div>


  </div>




  