 

form {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 20px;
  
    font-family: 'Open Sans', sans-serif;
 
}
.main-login-form-holder{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0px auto;
  width: 80%;
}
.main-image{
  width: 60vh;
  margin: 0 auto;
  object-fit: contain;
}
label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
    color: black;
    display: flex;
    flex-direction: row;
    margin-top: 15PX;
}
label img{
  width: 30px;
height: 30px;
align-items: center;
padding: 5px;
border-radius: 50%;
background-color:var(--icon-hover-backgroud-color);
margin-right: 10px;
}

input[type="email"],
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 15px;
  border-radius: 25px;
  margin-top: 5px;
  border: 1px solid #ccc;
 
  box-sizing: border-box;
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;  
}


input[type="email"]:focus,
input[type="text"]:focus,
input[type="password"]:focus {
  border-color:var(--primarycolor); 
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);  
  outline: none;   
}



button {
    padding: 15px 20px;
    background-color: var(--primary-dark);
    color: white;
    border: none;
    border-radius: 25px;
    margin-top: 15px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    border: 1px solid white;

}

button:hover {
    background-color: var(--primary-faded);
    color: var(--primary-dark);
    border: 1px solid var(--primary-dark);
}

.anckortagholder{
    margin-top: 1px;
}

.error-banner{
    background-color: red;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.error-banner span{
color: white;
text-align: center;

}


.password-eye-holder{
    display: flex;
    flex-direction: row;
    
    align-items: center;
    justify-content: start;
  }
  .eyeimage{
    width: 35px;
    margin-left: 10px;
    cursor: pointer;
    padding: 5px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.432);
    transition: background-color 0.2s;
  }
  .eyeimage:hover{
    background-color: rgba(128, 128, 128, 0.308);

  }


  .anckortagholder{
    display: flex;
    flex-direction: row;
   
  }

  .anckortagholder a{
    color: var(--primarycolor);
    font-size: 15px;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    padding: 8px 15px;
    position: relative;
   top: 35px;
   border-radius: 50px;
   background-color: white;
   transition: background-color 0.2s;
   margin-left: 10px;
   border: 1px solid rgba(255, 255, 255, 0);
   box-shadow: -1px 5px 10px 1px rgba(0, 0, 0, 0.2);

  }

  .anckortagholder a:hover{
    background-color: var(--primarycolor);
    color: white;
    border: 1px solid white;
  }

  .reminertext{
    text-align: left;
    margin: 10px 0px 0px 10px;
    color: rgba(0, 0, 0, 0.583);
  }



  
@media (max-width: 500px) {  
  .main-image{
  width: 80%;
  }
  form{
    width: 100%;
  }
  
}


