 
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0; 
  }

form {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Open Sans', sans-serif;
}

div {
    margin-bottom: 15px;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

input[type="email"],
input[type="text"],
input[type="password"] {
    padding: 8px;
    width: calc(100% - 16px);
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 14px;
}

button {
    padding: 10px 20px;
    background-color: var(--primarycolor);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: var(--primary-faded);
    color: var(--primarycolor);
    border: 1px solid var(--primarycolor);
}

.anckortagholder{
    margin-top: 1px;
}

.error-banner{
    background-color: red;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.error-banner span{
color: white;
text-align: center;

}


.password-eye-holder{
    display: flex;
    flex-direction: row;
    
    align-items: center;
    justify-content: start;
  }
  .eyeimage{
    width: 30px;
  margin-left: 10px;
  cursor: pointer;
  padding: 5px;
  border-radius: 50%;
  }
  .eyeimage:hover{
    background-color: rgba(128, 128, 128, 0.308);
  }


  .anckortagholder{
    display: flex;
    flex-direction: column;
   
  }

  .anckortagholder a{
    text-decoration: none;
    color: rgb(43,149,236);
  }

  .anckortagholder a:hover{
text-decoration: underline;
  }
