<div class="main-login-form-holder">

  <a routerLink="/" class="main-image">
    <img src="../../../assets/images/crabber_header.png" alt="" class="main-image">
  </a>


   
  
  

      
      
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">


    <div class="error-banner" *ngIf="showinvalidcredentioalsbanner">
      <span>{{loginmessage}}</span>
    </div>
      
    
      <div>
        <label for="emailaddress"> <img src="../../../assets/images/email.png" alt="">Email Address</label>
        <input id="emailaddress" formControlName="emailaddress" type="email" placeholder="Email Address">
      </div>
    
    
    
      <div>
        <label for="password"><img src="../../../assets/images/password.png" alt=""> Password</label>
      
  
  
        <div class="password-eye-holder">
          <input [type]="showPassword ? 'text' : 'password'" id="password" formControlName="password"  placeholder="Password" #password>
          <img src="../../../assets/images/showpassword.png" alt="showpassword" class="eyeimage" *ngIf="!showPassword && showPasswordToggle" (click)="visiblepassword()" [hidden]="!password">
          <img src="../../../assets/images/hidepassword.png" alt="hidepassword" class="eyeimage" *ngIf="showPassword && showPasswordToggle" (click)="visiblepassword()">
         </div>
         
      </div>

      <small class="reminertext">The login button will be visible once both email and password fields are filled in.</small>
    
    
      <button type="submit" *ngIf="loginForm.valid">Log in</button>

      <div class="anckortagholder">
        <a routerLink="/auth/sign-up">Sign Up</a>  
        <a routerLink="/auth/forget-password">Forget Password</a>  
      </div>
    </form>
    






    <div class="goolebtnholder">
       <app-google-auth-log-in></app-google-auth-log-in>
    </div>




 

</div>