.search-container {
  position: relative;
  width: 50%;
}

.search-container input[type="text"] {
  width: 80%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.results-container {
  position: absolute;
  width: 80%;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  max-height: 300px;
  overflow-y: auto;
 
  z-index: 1000;
  margin-top: 10px; 
}

.user-list, .group-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.user-item, .group-item {
  display: flex;
  align-items: center;
 
  padding: 10px;
  border-bottom: 1px solid #eee;
}

.user-item:last-child, .group-item:last-child {
  border-bottom: none;
}

.profile-image, .group-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #ccc;
  margin-right: 10px;
}

.username, .groupname {
  font-size: 16px;
  display: block;
  margin: 0;
}

.user-item a, .group-item a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
  width: 100%;
}

.results-container h2 {
  font-size: 18px;
  margin: 10px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
}

.results-container ul {
  padding: 0 10px;
}

.results-container ul li a:hover {
  background-color: #f0f0f0;
  border-radius: 5px;
}
.grouptype{
 
  font-weight: bold;
  color: rgb(0, 34, 129);
  margin-left: 10px;
}
