.heading-holder{
    padding: 10px;
    border-bottom: 1px solid rgb(187 187 187);
    margin-left: 10px;
    margin-right: 10px;
  }
  .heading-holder span{
    opacity: 0.8;
  }


  .heading-holder{
    padding: 10px;
    border-bottom: 1px solid rgb(187 187 187);
    margin-left: 10px;
    margin-right: 10px;
  }
  .heading-holder span{
    opacity: 0.8;
  }
  .inner-group-holder{
 
    margin-left: 10px;
    margin-right: 10px;
  }
  .inner-group-holder a{
    text-decoration: none;
    color: black;
  }
  .group{
    display: flex;
    flex-direction: row;
    align-items: center;
   padding: 10px;
   border-radius: 10px;
   cursor: pointer;
    transition: background-color 0.3s ease;
  }
  .group:hover{
    background-color: var(--icon-hover-backgroud-color);
  }
  .group-details-holder{
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    
  }
  .img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
  }



  .searchgroupinput{
    width: 100%;
    padding: 15px;
    border-radius: 25px;
    margin-top: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    box-sizing: border-box;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;  
  }
  .searchgroupinput:focus{
    border-color:var(--primarycolor); 
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);  
    outline: none; 
  }
  .nogroupfound-banner{
  
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    border-radius: 15px;
    align-items: center;
    background-color: var(--icon-hover-backgroud-color);
    padding: 10px;
  }
  .nogroupfound-banner span{
    word-wrap: break-word;  
    max-width: 100%; 
    text-align: center;
  }
  .seemoreuserbutton{
    background-color: var(--primarycolor);
    padding: 5px 15px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 20px;
    margin-bottom: 5px;
  }
  .seemoreuserbutton:hover{
    background-color: var(--primary-faded);
     color: var(--primarycolor);

  }

  .options-holder {
    display: flex;
    flex-direction: row;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.3s;
  }
  .options-holder:hover{
    background-color: var(--icon-hover-backgroud-color);
  }
  .options-holder img{
    width: 25px;
    margin-right: 10px;
    
  }
  .videos{
    height: 200px;
    border-radius: 10px;
  }


  .backarrow {
    width: 40px;
    height: 40px;
    padding: 5px;
    border-radius: 50%;
    background-color: var(--icon-hover-backgroud-color);
    position: relative;
    left: 5px;
    transition: background-color 0.3s;
    cursor: pointer;
    top: -2px;
  }
  .morevidoeicon{
    margin-left: 15px;
    width: 40px;
    height: 40px;
    padding: 5px;
    border-radius: 50%;
    background-color: var(--icon-hover-backgroud-color);
    position: relative;
    left: 5px;
    transition: background-color 0.3s;
    cursor: pointer;
    top: -2px;
  }
  .backarrow:hover,.morevidoeicon:hover{
    background-color: var(--icon-backgroud-color);
  
  }
  .btn-holder{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 10px;
  }

  .viode-holder {
    padding-top: 15px;
    overflow-y: auto;  
    overflow-x: auto;  
    height: 100vh;
    position: relative;
  }
  
 
  .viode-holder::-webkit-scrollbar {
    width: 5px;  
    height: 5px;  
  }
  
  .viode-holder::-webkit-scrollbar-thumb {
    background: var(--icon-hover-backgroud-color); 
    border-radius: 10px;  
  }
  
  .viode-holder::-webkit-scrollbar-track {
    background: transparent;  
  }
  
  /* For Firefox */
  .viode-holder {
    scrollbar-width: thin; 
    scrollbar-color: var(--icon-hover-backgroud-color) transparent;  
  }

 
