.heading-holder{
    padding: 10px;
    border-bottom: 1px solid rgb(187 187 187);
    margin-left: 10px;
    margin-right: 10px;
  }
  .heading-holder span{
    opacity: 0.8;
  }


  .heading-holder{
    padding: 10px;
    border-bottom: 1px solid rgb(187 187 187);
    margin-left: 10px;
    margin-right: 10px;
  }
  .heading-holder span{
    opacity: 0.8;
  }
  .inner-group-holder{
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .inner-group-holder a{
    text-decoration: none;
    color: black;
  }
  .group{
    display: flex;
    flex-direction: row;
    align-items: center;
   padding: 10px;
   border-radius: 10px;
   cursor: pointer;
    transition: background-color 0.3s ease;
  }
  .group:hover{
    background-color: var(--icon-hover-backgroud-color);
  }
  .group-details-holder{
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    
  }
  .img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
  }



  .searchgroupinput{
    width: 100%;
    padding: 15px;
    border-radius: 25px;
    margin-top: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    box-sizing: border-box;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;  
  }
  .searchgroupinput:focus{
    border-color:var(--primarycolor); 
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);  
    outline: none; 
  }
  .nogroupfound-banner{
  
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    border-radius: 15px;
    align-items: center;
    background-color: var(--icon-hover-backgroud-color);
    padding: 10px;
  }
  .nogroupfound-banner span{
    word-wrap: break-word;  
    max-width: 100%; 
    text-align: center;
  }
  .seemoreuserbutton{
    background-color: var(--primarycolor);
    padding: 5px 15px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 20px;
    margin-bottom: 5px;
  }
  .seemoreuserbutton:hover{
    background-color: var(--primary-faded);
     color: var(--primarycolor);

  }