<div class="heading-holder">
    <span>User list</span>
</div>



<div class="inner-group-holder">
    <input type="text" [(ngModel)]="userSearchText" placeholder="search user" (input)="filterTheusers()" class="searchgroupinput">

    <span class="seemoreuserbutton" (click)="navigatetolisttofollowuserscreen()" *ngIf="userid !=''">more</span>

    <a *ngFor="let user of userList"  >
    <div class="group" (click)="navigatetouser(user.userid)">
        <img [src]="user.profileimageUrl" alt="user Image" class="img">
        <div class="group-details-holder">
             <div class="group-type-holder">
                <span class="group-name">{{ user.username }}</span>
         
             </div>
         
        </div>
    </div>
</a>


<div class="nogroupfound-banner" *ngIf="userList.length ==0">
    <span>no user found</span>
</div>



</div>