<!-- <div class="heading-holder">
    <span>User list</span>
</div> -->



<div class="inner-group-holder"    >
 

 

    <div class="userholder"  *ngIf="showuserBool">
        <a *ngFor="let user of userList"  >
            <div class="group" (click)="navigatetouser(user.userid)">
                <img [src]="user.profileimageUrl" alt="user Image" class="img">
                <div class="group-details-holder">
                     <div class="group-type-holder">
                        <span class="group-name">{{ user.username }}</span>
                 
                     </div>
                 
                </div>
         
        
            </div>
         
        
        </a>
    </div>










<div class="options-holder" (click)="showvideos($event)" *ngIf="!showvideosBool">
    <img src="../../../assets/images/videopost.png" alt="">
    <span>viodes</span>
 </div>




 <div class="options-holder" (click)="showlinks($event)"  *ngIf="!showlinksBool">
    <img src="../../../assets/images/linkpost.png" alt="">
    <span>links</span>
 </div>




 <div class="options-holder" (click)="showtexts($event)"  *ngIf="!showtextsBool">
    <img src="../../../assets/images/textpost.png" alt="">
    <span>texts</span>
 </div>




 <div class="options-holder" (click)="showimages($event)"  *ngIf="!showimagesBool">
    <img src="../../../assets/images/imagepost.png" alt="">
    <span>images</span>
 </div>



 <div class="options-holder" (click)="showvoices($event)"  *ngIf="!showvoicesBool">
    <img src="../../../assets/images/audiopost.png" alt="">
    <span>voices</span>
 </div>











 

 
<div class="viode-holder"  *ngIf="showvideosBool"   #videoHolder  >


    <div class="btn-holder">
        <img src="../../../assets/images/backarrow.png" alt="" class="backarrow" (click)="gobackfromviodes($event)">
        <img src="../../../assets/images/morevideos.png" alt="" class="morevidoeicon" (click)="gotovideoslider($event)" *ngIf="!noviodeposts">
    </div>


    <div *ngFor="let video of videoList" class="video-container">
        <video *ngIf="video.videoUrl" controls class="videos">
          <source [src]="video.videoUrl" type="video/mp4">
          Your browser does not support the video tag.
        </video>
      </div>
    

        
     <div class="no-viode-posts-banner" *ngIf="videoList.length ===0">
 

        <img src="../../../assets/images/videopost.png" alt="">
        <span>No videos yet !</span>

     </div>


 </div>
















 <div class="viode-holder"  *ngIf="showlinksBool"   #linkHolder  >


    <div class="btn-holder">
        <img src="../../../assets/images/backarrow.png" alt="" class="backarrow" (click)="gobackfromviodes($event)">
    </div>

<!-- (click)="commentOnPost($event,post.postid,post.n_or_g)" -->

 <div *ngFor="let link of linkList" class="link-container" >

    <div class="text-user-details-holder">
 
        <div class="indicater-holder">
          <img *ngIf="link.profileimage" [src]="link.profileimage" alt="Profile Image" class="text-profile-image">
          <div class="green-dot" *ngIf="link.onlinestatus == 1" ></div>
        </div>

      <div class="link-inner-details">
          <span><b>{{link.username}}</b></span>
          <small>{{calculateTimeAgo(link.posteddate)}}  </small>
      </div>
  </div>


  <img [src]="link.textbody" alt="link Image" class="linkimagepreview">
</div>
    




        
     <div class="no-viode-posts-banner" *ngIf="linkList.length ===0">

        <img src="../../../assets/images/linkpost.png" alt="">
        <span>No links yet !</span>

     </div>


 </div>

















 


 <div class="viode-holder"  *ngIf="showtextsBool"   #textHolder  >


    <div class="btn-holder">
        <img src="../../../assets/images/backarrow.png" alt="" class="backarrow" (click)="gobackfromviodes($event)">
    </div>

 




    <div *ngFor="let text of textList" class="text-container">
        <div class="text-holder" [style.background-color]="text.textcolor" (click)="commentOnPost($event,text.postid,text.n_or_g)" >
          
            <div class="text-user-details-holder">
            
                  <div class="indicater-holder">
                    <img *ngIf="text.profileimage" [src]="text.profileimage" alt="Profile Image" class="text-profile-image">
                    <div class="green-dot" *ngIf="text.onlinestatus == 1" ></div>
                  </div>

                <div class="inner-details">
                    <span><b>{{text.username}}</b></span>
                    <small>{{calculateTimeAgo(text.posteddate)}}  </small>
                </div>
            </div>
              

            <p class="text-post-text">{{ text.textbody }}</p>
          </div>
</div>
    





        
     <div class="no-viode-posts-banner" *ngIf="textList.length ===0">

        <img src="../../../assets/images/linkpost.png" alt="">
        <span>No links yet !</span>

     </div>


 </div>














 





 

 <div class="viode-holder"  *ngIf="showimagesBool"   #imageHolder  >


    <div class="btn-holder">
        <img src="../../../assets/images/backarrow.png" alt="" class="backarrow" (click)="gobackfromviodes($event)">
    </div>

 




    <div *ngFor="let image of imageList" class="text-container">
        <div class="image-holder" [style.background-color]="image.textcolor"   >
          
            <div class="image-user-details-holder">
            
                  <div class="indicater-holder">
                    <img *ngIf="image.profileimage" [src]="image.profileimage" alt="Profile Image" class="text-profile-image">
                    <div class="green-dot" *ngIf="image.onlinestatus == 1" ></div>
                  </div>

                <div class="inner-details">
                    <span><b>{{image.username}}</b></span>
                    <small>{{calculateTimeAgo(image.posteddate)}}  </small>
                </div>
            </div>
              

            <img *ngIf="image.post" [src]="image.post" alt="Profile Image" class="post-image">
          
          </div>
</div>
    





        
     <div class="no-viode-posts-banner" *ngIf="imageList.length ===0">

        <img src="../../../assets/images/linkpost.png" alt="">
        <span>No images yet !</span>

     </div>


 </div>


























 


 <div class="viode-holder"  *ngIf="showvoicesBool"   #voiceHolder  >


    <div class="btn-holder">
        <img src="../../../assets/images/backarrow.png" alt="" class="backarrow" (click)="gobackfromviodes($event)">
    </div>

 




    <div *ngFor="let voice of voiceList" class="text-container">
        <div class="voice-holder"     >
          
            <div class="voice-user-details-holder">
            
                  <div class="indicater-holder">
                    <img *ngIf="voice.profileimage" [src]="voice.profileimage" alt="Profile Image" class="text-profile-image">
                    <div class="green-dot" *ngIf="voice.onlinestatus == 1" ></div>
                  </div>

                <div class="inner-details">
                    <span><b>{{voice.username}}</b></span>
                    <small>{{calculateTimeAgo(voice.posteddate)}}  </small>
                </div>
            </div>
              
            <!-- (click)="commentOnPost($event,post.postid, post.n_or_g)" -->

            <audio *ngIf="voice.audioUrl" controls class="audiofile" >
                <source [src]="voice.audioUrl" type="audio/mpeg"  >
                Your browser does not support the audio element.
              </audio>



          
          </div>
</div>
    





        
     <div class="no-viode-posts-banner" *ngIf="voiceList.length ===0">

        <img src="../../../assets/images/linkpost.png" alt="">
        <span>No voices yet !</span>

     </div>


 </div>






 
</div>