<!-- <div class="heading-holder">
    <span>User list</span>
</div> -->



<div class="inner-group-holder"    >
 

 

    <div class="userholder"  *ngIf="showuserBool">
        <a *ngFor="let user of userList"  >
            <div class="group" (click)="navigatetouser(user.userid)">
                <img [src]="user.profileimageUrl" alt="user Image" class="img">
                <div class="group-details-holder">
                     <div class="group-type-holder">
                        <span class="group-name">{{ user.username }}</span>
                 
                     </div>
                 
                </div>
         
        
            </div>
         
        
        </a>
    </div>










<div class="options-holder" (click)="showvideos($event)" *ngIf="!showvideosBool">
    <img src="../../../assets/images/videopost.png" alt="">
    <span>viodes</span>
 </div>




 <div class="options-holder" (click)="showlinks($event)"  *ngIf="!showlinksBool">
    <img src="../../../assets/images/linkpost.png" alt="">
    <span>links</span>
 </div>




 <div class="options-holder" (click)="showtexts($event)"  *ngIf="!showtextsBool">
    <img src="../../../assets/images/textpost.png" alt="">
    <span>texts</span>
 </div>








 

 
<div class="viode-holder"  *ngIf="showvideosBool"   #videoHolder  >


    <div class="btn-holder">
        <img src="../../../assets/images/backarrow.png" alt="" class="backarrow" (click)="gobackfromviodes($event)">
        <img src="../../../assets/images/morevideos.png" alt="" class="morevidoeicon" (click)="gotovideoslider($event)" *ngIf="!noviodeposts">
    </div>


    <div *ngFor="let video of videoList" class="video-container">
        <video *ngIf="video.videoUrl" controls class="videos">
          <source [src]="video.videoUrl" type="video/mp4">
          Your browser does not support the video tag.
        </video>
      </div>
    

        
     <div class="no-viode-posts-banner" *ngIf="noviodeposts">

        <img src="../../../assets/images/videopost.png" alt="">
        <span>No videos yet !</span>

     </div>


 </div>
















 <div class="viode-holder"  *ngIf="showlinksBool"   #linkHolder  >


    <div class="btn-holder">
        <img src="../../../assets/images/backarrow.png" alt="" class="backarrow" (click)="gobackfromviodes($event)">
    </div>

<!-- (click)="commentOnPost($event,post.postid,post.n_or_g)" -->

    <div *ngFor="let link of linkList" class="link-container" >
  <img [src]="link.textbody" alt="link Image">
</div>
    

        
     <div class="no-viode-posts-banner" *ngIf="noviodeposts">

        <img src="../../../assets/images/linkpost.png" alt="">
        <span>No links yet !</span>

     </div>


 </div>

























 <div class="viode-holder"  *ngIf="showtextsBool"   #textHolder  >


    <div class="btn-holder">
        <img src="../../../assets/images/backarrow.png" alt="" class="backarrow" (click)="gobackfromviodes($event)">
    </div>

 

    <div *ngFor="let text of textList" class="link-container">
        <div class="text-holder" [style.background-color]="text.textcolor" (click)="commentOnPost($event,text.postid,text.n_or_g)" >
            <p class="text-post-text">{{ text.textbody }}</p>
          </div>
</div>
    

        
     <div class="no-viode-posts-banner" *ngIf="noviodeposts">

        <img src="../../../assets/images/linkpost.png" alt="">
        <span>No links yet !</span>

     </div>


 </div>







 
</div>