.heading-holder{
    padding: 10px;
    border-bottom: 1px solid rgb(187 187 187);
    margin-left: 10px;
    margin-right: 10px;
  }
  .heading-holder span{
    opacity: 0.8;
  }


  .heading-holder{
    padding: 10px;
    border-bottom: 1px solid rgb(187 187 187);
    margin-left: 10px;
    margin-right: 10px;
  }
  .heading-holder span{
    opacity: 0.8;
  }
  .inner-group-holder{
 
    margin-left: 10px;
    margin-right: 10px;
  }
  .inner-group-holder a{
    text-decoration: none;
    color: black;
  }
  .group{
    display: flex;
    flex-direction: row;
    align-items: center;
   padding: 10px;
   border-radius: 10px;
   cursor: pointer;
    transition: background-color 0.3s ease;
  }
  .group:hover{
    background-color: var(--icon-hover-backgroud-color);
  }
  .group-details-holder{
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    
  }
  .img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
  }



  .searchgroupinput{
    width: 100%;
    padding: 15px;
    border-radius: 25px;
    margin-top: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    box-sizing: border-box;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;  
  }
  .searchgroupinput:focus{
    border-color:var(--primarycolor); 
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);  
    outline: none; 
  }
  .nogroupfound-banner{
  
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    border-radius: 15px;
    align-items: center;
    background-color: var(--icon-hover-backgroud-color);
    padding: 10px;
  }
  .nogroupfound-banner span{
    word-wrap: break-word;  
    max-width: 100%; 
    text-align: center;
  }
  .seemoreuserbutton{
    background-color: var(--primarycolor);
    padding: 5px 15px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 20px;
    margin-bottom: 5px;
  }
  .seemoreuserbutton:hover{
    background-color: var(--primary-faded);
     color: var(--primarycolor);

  }


  .videos{
    height: 200px;
    border-radius: 10px;
  }

  .options-holder {
    display: flex;
    flex-direction: row;
    padding: 15px;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.3s;
  }
  .options-holder:hover{
    background-color: var(--icon-hover-backgroud-color);
  }
  .options-holder img{
    width: 25px;
    height: 25px;
    margin-right: 10px;
    
  }
  

  

  .btn-holder{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 10px;
  }

  .viode-holder {
    padding-top: 15px;
    overflow-y: auto;  
    overflow-x: auto;  
    height: 100vh;
    position: relative;
  }
  
 
  .viode-holder::-webkit-scrollbar {
    width: 5px;  
    height: 5px;  
  }
  
  .viode-holder::-webkit-scrollbar-thumb {
    background: var(--icon-hover-backgroud-color); 
    border-radius: 10px;  
  }
  
  .viode-holder::-webkit-scrollbar-track {
    background: transparent;  
  }
  
 
  .viode-holder {
    scrollbar-width: thin; 
    scrollbar-color: var(--icon-hover-backgroud-color) transparent;  
  }

  .no-viode-posts-banner{
    width: 90%;
    margin: 0 auto;
    border-radius: 10px;
    background-color: var(--icon-hover-backgroud-color);
    display: flex;
    flex-direction: column;
    padding: 15px;
    align-items: center;
    justify-content: space-between;
  }
  .no-viode-posts-banner img{
    width: 50px;

  }
  .no-viode-posts-banner span{
    margin-top: 10px;
  }

  .link-container{
    display: flex;
    flex-direction: column;
  }
  .linkimagepreview{
    margin: 5px 0px;
    border-radius: 10px;
  }

  .text-user-details-holder{
    display: flex;
    flex-direction: row;
   
    width: 100%;
 
  }
  .image-user-details-holder{
position: absolute;
display: flex;
    flex-direction: row;
   
    width: 100%;
    padding-left: 15px;
    padding-top: 5px;

  }
.voice-user-details-holder{
  position: relative;
  display: flex;
      flex-direction: row;
     
      width: 100%;
      padding-left: 15px;
      padding-top: 5px; 
}
.audiofile{
  margin-top: 10px;
  width: 90%;
}
  .post-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
  }
  .text-container{
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .text-holder::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));  
    pointer-events: none;  
    border-radius: 15px;
}

.userholder{
  border: 1px solid var(--icon-hover-backgroud-color);
  border-radius: 10px;
  padding: 5px;
 
}
.green-dot {
  position: absolute;
  top: 3px;
  right: 0px;
  width: 10px;  
  height: 10px;
  background-color: rgb(0, 219, 0); 
  border-radius: 50%;
  border: 2px solid white;  
}
.indicater-holder{
  position: relative;
}

  .inner-details,.link-inner-details{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    justify-content: center;
   
  }
  .inner-details span,.inner-details small{
    color: white;
    z-index: 5;

  }
  .link-inner-details span,.link-inner-details small{
    color:black;
    z-index: 5;

  }

  .text-profile-image{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    z-index: 5;
  }

  .text-holder {
    border-radius: 10px;
    height: var(--user-left-hoder-post-dynamic-width);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    padding: 10px;
    margin: 5px 0;
    cursor: pointer;
    flex-direction: column;
    position: relative; 
    transition:  box-shadow 0.3s ease;
    justify-content: flex-start;
}
.image-holder{
  border-radius: 10px;
    height: var(--user-left-hoder-post-dynamic-width);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    margin: 5px 0;
    cursor: pointer;
    flex-direction: column;
    position: relative; 
    transition:  box-shadow 0.3s ease;
    justify-content: flex-start;
 
}
.voice-holder{
  border-radius: 10px;
 
 height: var(--user-left-hoder-post-dynamic-width-audio);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
  margin: 5px 0;
  cursor: pointer;
  flex-direction: column;
  position: relative; 
  transition:  box-shadow 0.3s ease;
  justify-content: flex-start; 
}
.text-holder:hover ,.image-holder:hover{
  
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); 
}
    
    .text-post-text {

margin-top: 15px;
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
    word-wrap: break-word;  
    max-width: 100%; 
    z-index: 5;
    }


    .no-posts-div{
      background-color: var(--icon-hover-backgroud-color);
      border-radius: 15px;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 10px 0px;
    
    }
    .no-posts-div img{
      width: 20%;
      opacity: 0.7;
      margin-bottom: 10px;
      margin-top: 10px;
    }
     

 
