<div   class="container-skeleton">

    <p class="pressenterbtn">Press "Enter" to see more</p>
 
    <div class="skeleton-header">
                <div class="skeleton-inner-holder">
                            <ngx-skeleton-loader
                            appearance="circle"
                            [theme]="{ width: '40px', height: '40px' }"
                        ></ngx-skeleton-loader>
                        <ngx-skeleton-loader
                            [theme]="{ width: '400px', height: '20px', marginLeft: '10px' }"
                        ></ngx-skeleton-loader>
      
                </div>



                <div class="skeleton-inner-holder">
                    <ngx-skeleton-loader
                    appearance="circle"
                    [theme]="{ width: '40px', height: '40px' }"
                ></ngx-skeleton-loader>
                <ngx-skeleton-loader
                    [theme]="{ width: '400px', height: '20px', marginLeft: '10px' }"
                ></ngx-skeleton-loader>

        </div>


        <div class="skeleton-inner-holder">
            <ngx-skeleton-loader
            appearance="circle"
            [theme]="{ width: '40px', height: '40px' }"
        ></ngx-skeleton-loader>
        <ngx-skeleton-loader
            [theme]="{ width: '400px', height: '20px', marginLeft: '10px' }"
        ></ngx-skeleton-loader>

</div>


       
                              

    </div>
  
  
  




    

 



 



      

  </div>





 