* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif; 
    margin: 0; 
    padding: 0; 
}
*::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.member_main_outer_holder {
    width: 40%;
    background-color: white;
    border-radius: 15px;
    padding: 10px;
    height: 80%; 
    overflow-y: auto; 
  }
  
  
  .liked_members_div_fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);  
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;  
  }
   
  
  .member_main_outer_holder::-webkit-scrollbar {
    width: 5px; 
  }
  
  .member_main_outer_holder::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.5);  
    border-radius: 10px;  
  }
  
  .member_main_outer_holder::-webkit-scrollbar-track {
    background-color: transparent; 
  }
  
  
  
   
  
  .member_main_outer_holder h3{
    color: rgba(0, 0, 0, 0.788);
  }


  .main_titile_holder{
    border-bottom: 1px solid var(--icon-hover-backgroud-color);
    padding-bottom: 5px;
  }
  .main_member_holder{
    display: flex;
    flex-direction: row;
    
    align-items: center;
    transition: background-color 0.3s;
    border-radius: 10px;
    padding: 5px;
  }
  .main_member_holder:hover{
    background-color: var(--icon-hover-backgroud-color);
  
  }
  
  .main_member_holder img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
  }

  .iscontentisloading {
    position: fixed;
    top: 50%; 
    left: 50%;  
    transform: translate(-50%, -50%);  
    height: 35px;  
    width: auto;  
    text-align: center;
    z-index: 9999;
  }

  .privacy-policy-holder{
    display: flex;
    flex-direction: row;
  
    margin-top: 5px;
    padding: 10px;
    align-items: center;
    transition: background-color 0.3s ease;

  }
  .privacy-policy-holder:hover{
    cursor: pointer;
    background-color: var(--icon-hover-backgroud-color);

  }
  .privacy-policy-holder-atag{
    text-decoration: none;
    color: black;
  }
  .privacy-policy-holder img{
    height: 25px;
    margin-right: 10px;
  }
  .outer-right-group-holder{
    position: sticky;
    display: flex;
    flex-direction: column;
    top: 10px;
  
    height: 90vh;
    width: 25%;
  }
  .right-group-holder {
    flex: 1;
    border: 1px solid var(--icon-hover-backgroud-color);
    border-radius: 15px;
  margin-right: 1rem;
  }
  .link-holder{
    border: 1px solid var(--icon-hover-backgroud-color);
    border-radius: 15px;
    margin-right: 1rem;
    margin-top: 10px;
  }
  
  .outer-right-group-holder ::-webkit-scrollbar, .right-group-holder::-webkit-scrollbar ,.left-user-holder::-webkit-scrollbar{
    display: none;  
  }
  
 
  .options-holder-inner{
    display: flex;
    flex-direction: column;
    border: 1px solid var(--icon-hover-backgroud-color);
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 5px;
  }


  @media (max-width: 500px) {  
    .member_main_outer_holder{
    width: 95%;
    }
  
   
    
  }
  

:root {
    --primarycolor: rgb(43, 149, 236);
    --primary-faded: rgba(43,149,236, 0.1);
    --primary-faded-less: rgba(43,149,236, 0.3);
    --primary-dark: rgb(43,149,236);
    --primary-darker: rgb(43,149,236);
    --post-dynamic-width: 80vh;
    --user-left-hoder-post-dynamic-width: 35vh;
    --user-left-hoder-post-dynamic-width-audio:20vh;
    --icon-backgroud-color: rgba(128, 128, 128, 0.308);
    --icon-hover-backgroud-color: rgba(128, 128, 128, 0.178);
  

  }



