.content-holder{
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  

}
.timeholder{
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #ccc;
  transition: background-color 0.3s;
  cursor: pointer;
  padding: 10px;
  margin: 10px;
}
.timeholder:hover{
  background-color: var(--icon-hover-backgroud-color);
  border-radius: 15px;
}

.inner-holder{
  display: flex;
  flex-direction: column;
}

.profile-image-holder{
  display: flex;
  flex-direction: row;
}
.profile-image-holder span{
color: black;
}

.profileimage{
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-right: 10px;
}
.postimage,.viodefile{
  width: 10vh;
  height: 10vh;
  border-radius: 15px;
}
.audioimage{
  width: 10vh;
  height: 10vh;
  border-radius: 50%;
  background-color: white;
  padding: 15px;
}
.text-post-text{
  margin: 0;
  color: white;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 20px;
  padding: 10px;
  word-wrap: break-word;  
  max-width: 100%; 
}
.usernamepost{
  color: black;
  font-weight: bold;
  opacity: 0.8;
}
.inner-text-post-holder{
  width: 10vh;
  height: 10vh;
  border-radius: 15px;
   overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner-text-post-holder span{
  color: white;
  font-size: 1.3vh;
}
.Popularsearchtext{
  margin: 5px 15px;
}

.Popularsearchtext img{
  width: 17px;
}

.no-posts-div{
  background-color: var(--icon-hover-backgroud-color);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0px;
 
  margin: 15px 10px;

}
.no-posts-div img{
  width: 20%;
  opacity: 0.7;
  margin-bottom: 10px;
  margin-top: 10px;
}
 

