<hr>
<h3 class="Popularsearchtext">Popular search  <img src="../../../assets/images/popular.png" alt=""> </h3>

 




<div *ngIf="videoPosts.length ==0 ||audioPosts.length ==0 || imagePosts.length ==0 || textPosts.length ==0 || linkPosts.length ==0 || groupPosts.length ==0" class="no-posts-div">
  no popular posts found 
  <img src="../../../assets/images/like.png" alt="">
 
 
</div>





<div class="outer-holder" *ngIf="showVideoPostsBool">
  <div *ngFor="let post of videoPosts" class="main-outer-holder"
    (click)="nanigatetocommentsscreen(post.postid,post.n_or_g)">
    <div  class="timeholder">
      <div class="content-holder">
        <div class="inner-holder">
          <div class="profile-image-holder">
            <img *ngIf="post.userprofileUrl" [src]="post.userprofileUrl" alt="Profile Image" class="profileimage">
            <span class="usernamepost">{{post.username}}</span> 
          </div>  
    
        <p>{{ post.postdescription }}</p>
      </div>
      <video [src]="post.filepath" controls class="viodefile"></video>
  
      </div>
      <small>{{ calculateTimeAgo(post.posteddate) }}</small>
    </div>
</div>
</div>


 







<div class="outer-holder" *ngIf="showAudioPostsBool">
  <div *ngFor="let post of audioPosts" class="main-outer-holder"
    (click)="nanigatetocommentsscreen(post.postid,post.n_or_g)">
    <div  class="timeholder">
      <div class="content-holder">
        <div class="inner-holder">
          <div class="profile-image-holder">
            <img *ngIf="post.userprofileUrl" [src]="post.userprofileUrl" alt="Profile Image" class="profileimage">
            <span class="usernamepost">{{post.username}}</span> 
          </div>  
    
        <p>{{ post.postdescription }}</p>
      </div>
     <img src="../../../assets/images/audiopost.png" alt="" class="audioimage">
  
      </div>
      <small>{{ calculateTimeAgo(post.posteddate) }}</small>
    </div>
</div>
</div>

 







<div class="outer-holder" *ngIf="showImagePostsBool">
  
  <div *ngFor="let post of imagePosts" class="main-outer-holder"
    (click)="nanigatetocommentsscreen(post.postid,post.n_or_g)">
    <div class="timeholder">
      <div class="content-holder">
        <div class="inner-holder">
          <div class="profile-image-holder">
            <img *ngIf="post.userprofileUrl" [src]="post.userprofileUrl" alt="Profile Image" class="profileimage">
            <span class="usernamepost">{{post.username}}</span> 
          </div>  
    
        <p>{{ post.postdescription }}</p>
       
  
      </div>
      <img *ngIf="post.postUrl" [src]="post.postUrl" alt="postUrl Image" class="postimage">
  
      </div>
      <small>{{ calculateTimeAgo(post.posteddate) }}</small>
    </div>
</div>
</div>






<div class="outer-holder" *ngIf="showTextPostsBool">
  <div *ngFor="let post of textPosts" class="main-outer-holder"
    (click)="nanigatetocommentsscreen(post.postid,post.n_or_g)">
    <div  class="timeholder">
      <div class="content-holder">
        <div class="inner-holder">
          <div class="profile-image-holder">
            <img *ngIf="post.userprofileUrl" [src]="post.userprofileUrl" alt="Profile Image" class="profileimage">
            <span class="usernamepost">{{post.username}}</span> 
          </div>  
    
        <p>{{ post.postdescription }}</p>
      </div>
      <div class="inner-text-post-holder" [style.background-color]="post.textcolor">
        <span class="text-post-text">{{ post.textbody }}</span>
      </div>
  
      </div>
      <small>{{ calculateTimeAgo(post.posteddate) }}</small>
    </div>
</div>
</div>

 



<div class="image-post-holder" *ngIf="showLinkPostsBool">
  <div *ngFor="let post of linkPosts" class="main-outer-holder"
    (click)="nanigatetocommentsscreen(post.postid,post.n_or_g)">
    <div class="inner-holder">
      <div class="profile-image-holder">
        <img *ngIf="post.userprofileUrl" [src]="post.userprofileUrl" alt="Profile Image" class="profileimage">
        <div class="details">
          <p class="usernamepost">{{ post.username }}</p>
          <p>{{ calculateTimeAgo(post.posteddate) }}</p>
        </div>
      </div>

      <div class="previewdiv">
        <h3>{{ post.filepath }}</h3>

        <img [src]="post.textbody" alt="{{ post.title }}" class="post">
        <a [href]="post.thelink" target="_blank">{{ post.thelink }}</a>
      </div>


    </div>
    <p>{{ post.postdescription }}</p>
  </div>
</div>








<div class="outer-holder" *ngIf="showGroupPostsBool">
  
  <div *ngFor="let post of groupPosts" class="main-outer-holder"
    (click)="nanigatetogroupscreen(post.groupid )">
    <div class="timeholder">
      <div class="content-holder">
        <div class="inner-holder">
          <div class="profile-image-holder">
            <img *ngIf="post.userprofileUrl" [src]="post.userprofileUrl" alt="Profile Image" class="profileimage">
            <span class="usernamepost">{{post.username}}</span> 
          </div>  
    
        <p>{{ post.posttype }} post</p>
       
  
      </div>
 
      <img *ngIf="post.postUrl" [src]="post.postUrl" alt="groupimagepost Image" class="postimage">
  
      </div>
      <small>{{ calculateTimeAgo(post.posteddate) }}</small>
    </div>
</div>
</div>



 
