 .main-outer-holder{
    display: flex;
    width: 60%;
    margin: 5px auto;
    padding: 5px 15px;
   
    border-bottom: 1px solid rgba(0, 0, 0, 0.229);
    flex-direction: column;
    transition: background-color 0.2s;
    cursor: pointer;
 }
 .navinationbuttonholder {
  margin-top: 10px;
  display: flex;
  margin: 0px auto;
  justify-content: center;
  padding: 15px;
  width: 60%;
 
}
.nodatamessage{
  width: 60%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0px auto;
  border-radius: 15px;
  align-items: center;
  background-color: var(--icon-hover-backgroud-color);
  padding: 10px;
}
.nodatamessage p ,.nodatamessageforviodeandaudio p{
  font-size: 18px;
  opacity: 0.7;
}
.nodatamessage img ,.nodatamessageforviodeandaudio img{
width: 50px;
height: 50px;
margin-bottom: 10px;
}
.nodatamessageforviodeandaudio{
  width: 60%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0px auto;
  border-radius: 15px;
  align-items: center;
  background-color: var(--icon-hover-backgroud-color);
  padding: 10px;
}

.navigationsbuttons {
  flex: 1;  
  padding: 10px;
  border-radius: 20px;
  background-color: var(--icon-hover-backgroud-color);
  color: black;
  border: none;
  transition: background-color 0.5s, color 0.5s;
  cursor: pointer;
  text-align: center;  
  margin: 0 5px;  
}

.navigationsbuttons:hover {
  background-color: var(--icon-backgroud-color);
}

.navigationsbuttons.selected {
  background-color: var(--icon-backgroud-color);
  font-weight: bold;
}

 .main-outer-holder a{
  color: black;
  text-decoration: none;
 }
 .profile-image-holder{
  display: flex;
  flex-direction: row;
  padding: 10px;
 }
 .main-outer-holder:hover{
  background-color: rgba(128, 128, 128, 0.155);
 }
 .profile-image-holder img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
 
 }
 .details{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-left: 10px;
 }
 .post{
    width: 200px;
    height: 200px;
    border-radius: 10px;
 }
 

 .posts-container {
 width: 100%;
   max-width: 720px;
 }


 .div-button-holder{
  display: flex;
  flex-direction: row;
  justify-content: center;
 }


 .video-post-holder,.text-link-post-holder{
  display: flex;
  justify-content: center;
 }
 
 .inner-text-post-holder{
   border: 1px solid #ddd;
   padding: 1rem;
   border-radius: 4px;
   background-color: black;  
   max-width: 400px;  
   word-wrap: break-word; 
   overflow-wrap: break-word;  
   white-space: normal;  
 }
 .inner-text-post-holder p {
   color: white;
    text-align: center;
    font-weight: bold;
    margin: 0;
    overflow: hidden;  
    text-overflow: ellipsis; 
    word-wrap: break-word;  
    overflow-wrap: break-word;
 }


 .loadmorebutton{
  color: white;
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
  padding: 8px 15px;
 border-radius: 50px;
 background-color: var(--primarycolor);
 transition: background-color 0.2s;
 box-shadow: -1px 5px 10px 1px rgba(0, 0, 0, 0.2);
 cursor: pointer;
width: 120px;
margin-bottom: 10px;
}
.loadmorebutton:hover{
  background-color: white;
  color: var(--primarycolor);
}
.user-holder{
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.profile-holder{
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background-color: white;
  overflow: scroll;
}


.closeicon {
  padding: 15px;
  width: 50px;
  background-color: white;
  border-radius: 50%;
  position: fixed;
  top: 70px;
  right: 10px;
  cursor: pointer;
  transition: transform 0.5s, background-color 0.5s;  
}

.closeicon:hover {
  transform: rotate(90deg); 
  background-color: rgba(255, 255, 255, 0.644);
}



@media (max-width: 500px) {  
 
  .navinationbuttonholder{
    overflow-x: scroll;
    width: auto;
  }

  .main-outer-holder{
    width: 95vw;
  }

  .nodatamessageforviodeandaudio,.nodatamessage{
    width: 95vw;
    margin-top: 10px;
  }
 
  
}