<div class="header">


  <div class="nav-links">
    <img src="../../../assets/images/crabber_header.png" alt="logo" width="100" class="header-logo" #mainlogo>

 
    <app-search class="header-search"> </app-search>

    <div class="right-side">
      <a routerLink="/auth/sign-up" *ngIf="userid == ''" class="signuplogin">sign up</a>
      <a routerLink="/auth/log-in" *ngIf="userid == ''" class="signuplogin">log in</a>
      <!-- <a routerLink="" *ngIf="userid != ''" (click)="logout()">log out</a> -->
      <!-- <a routerLink="/home/settings/{{userid}}" *ngIf="userid != ''">settings</a>
      <a routerLink="/home/profile/{{userid}}" *ngIf="userid != ''">profile</a> -->
      <app-add-post *ngIf="openaddpostscreenbool" (closePost)="openaddpostscreenbool = false"></app-add-post>

      <!-- <span class="creategroup" (click)="openaddpostscreen()">
        <img src="../../../assets/images/add.png" alt="" *ngIf="userid != ''">
        create

      </span> -->
      <a routerLink=""><img src="../../../assets/images/globe.png" alt="" class="globelicon"  *ngIf="userid != ''"></a>
      <a routerLink="/home/followers-feed"><img src="../../../assets/images/home.png" alt="" class="homeicon"  *ngIf="userid != ''"></a>

  
        <span class="notification-icon-holder">
          <img src="../../../assets/images/notification.png" alt="" class="notificationicon" *ngIf="userid != ''"
             (click)="getNotifications()">
            
        <div class="notification-indicator" *ngIf="user.notificationstatus == 1" ></div>
        </span>
     

    

        <div class="profileimage-container" (click)="showdropdown($event)"  >
          <img *ngIf="user?.profileimage" [src]="'data:image/jpeg;base64,' + user?.profileimage" alt="Profile Image" class="profileimage">
          <div class="green-dot" *ngIf="userid != '' && showtheonlinestatusindicator"></div>
        </div>

       





      <div *ngIf="dropdownVisible" class="dropdown-menu" (click)="hideDropdown()">
        <ul>
          <a routerLink="/home/profile/{{userid}}">
            <li class="dropdownicons">
              <img src="../../../assets/images/profile.png" alt=""> Profile
            </li>
          </a>
          <a routerLink="/home/settings/{{userid}}">
            <li class="dropdownicons">
              <img src="../../../assets/images/settings.png" alt=""> Settings
            </li>
          </a>

          <li (click)="logout()" class="dropdownicons">
            <img src="../../../assets/images/logout.png" alt=""> Logout
          </li>
        </ul>
      </div>


      <app-notification></app-notification>
    </div>
  </div>
</div>

<div *ngIf="showSignOutMessage" class="sign-out-message">
  Logging out...
</div>