 
.posts-container{
  width: var(--post-dynamic-width);
  margin: 0px auto;
}
.user-details-hodler img {
  border-radius: 50%;
  border: 2px solid grey;
  width: 350px;  
  height: 350px; 
  object-fit: cover;  
  margin-bottom: 10px; 
}
.user-details-hodler{
  margin: 0px auto;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
 
  align-items: center;
}



.button-holder{
  margin: 0px auto;
  width: var(--post-dynamic-width);
 
  display: flex;
  justify-content: start;
 padding-left: 10px;
}


.navigationsbuttons{
  padding: 10px;
  border-radius: 20px;
  background-color: var(--icon-hover-backgroud-color);
  color: black;
  border: none;
  transition: background-color 0.5s, color 0.5s;
  cursor: pointer;

}
.navigationsbuttons:hover{
  background-color: var(--icon-backgroud-color);
}
.navigationsbuttons.selected {
 
  background-color: var(--icon-backgroud-color);
  font-weight: bold;
}

.button-holder button{
  margin: 5px;
}






.user-profile .dropdown-toggle{
  width: 30px;
  height: 30px;
  cursor: pointer;
  padding: 5px;
  border-radius: 50%;
  background-color: var(--icon-backgroud-color);
  }
  
  .user-profile .dropdown-toggle:hover{
  background-color: var(--icon-hover-backgroud-color);
  
  }
.noiamfollowinguserlist{
  width: 100%;
  background-color: var(--icon-hover-backgroud-color);
  border-radius: 20px;
  padding: 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.noiamfollowinguserlist p {
  opacity: 0.8;
}
.noiamfollowinguserlist img{
width: 20vh;
}

.user-card {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-bottom: 5px;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  position: relative;
}
.user-card a{
  color: black;
  text-decoration: none;
  width: 100%;
}
.user-profile{
 
  width: 100%;
  display: flex;
  flex-direction: row;
}
.user-profile .userprofileimage{
  width: 50px;  
  height: 50px;  
  border-radius: 50%; 
  margin-right: 10px;
}

.user-details {
  flex: 1;
}





.dropdown-menu {
  position: absolute;
  right: 0;
  top: 45px;
  background: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}
.dropdown-menu img{
  width: 25px;
  margin-right: 5px;
  height: 25px;
}
.dropdown-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.dropdown-menu li {
  padding: 10px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
}

.dropdown-menu li:hover {
  background: #f0f0f0;
}







.userdetails-holder{
  display: flex;
  flex-direction: row;
  margin: 10px;
  padding: 10px;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.100);
 
}
.userdetails-holder img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.userdetails-holder  h2{
  opacity: 0.8;
  color: black;
  margin-left: 10px;
}
.posttypeholder{
   width: var(--post-dynamic-width);
  border-radius: 15px;
  margin-bottom: 10px;
  margin: 5px auto;
  border: 1px solid #ccc;

}
.options-holder{
  width: 100%;
  display: flex;
  flex-direction: row;
 
  justify-content: space-around;
  margin-bottom: 10px;
}
 
.option{
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  font-size: 15px;
  margin-bottom: 5px;
}
.optionname{
  margin-top: 2px;
 
}

.icon-wrapper {
  width: 30px;
  height: 30px;
  background-color:var(--icon-hover-backgroud-color);
  border-radius: 50%;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  margin: 0px auto;
}

.icon-wrapper img {
  max-width: 100%;
}



 