<div class="profileimage-holder">
    <div class="user-details-hodler">
      <img *ngIf="user?.profileimage" [src]="'data:image/jpeg;base64,' + user?.profileimage" alt="Profile Image" (click)="onImageClick()">
    <app-image-larger *ngIf="showLargerImage" [imageUrl]="'data:image/jpeg;base64,' + user?.profileimage" (close)="onCloseLargerImage()"></app-image-larger>

    <h1>{{user?.username}}</h1>
    
    <app-add-post  [postType]="postType"  (postAdded)="onPostAdded()" *ngIf="openaddpostscreenbool" (closePost)="openaddpostscreenbool = false"></app-add-post>

    </div>

    <button (click)="openaddpostscreen('i')">open</button>



    <div class="button-holder">
      <button (click)="showfeed()"  [class.selected]="showfeedBool" class="navigationsbuttons">Feed</button>
      <button (click)="showiamfollowinguserlist()" [class.selected]="showiamfollowinguserlistBool" class="navigationsbuttons">I am following ({{iamfollowinguserslist.length}})</button>
      <button (click)="showiamfolloeduserlist()" [class.selected]="showiamfolloeduserlistBool" class="navigationsbuttons">I am followed ({{iamfolloweduserslist.length}})</button>
    </div>





    <div class="posttypeholder" *ngIf="userfrommethod.userid == user.userid">
      <div class="userdetails-holder">
        <img *ngIf="user?.profileimage" [src]="'data:image/jpeg;base64,' + user?.profileimage" alt="Profile Image"  class="profileimage" >

        <h2>Hi, {{username}}</h2>
    
      </div>

    
      <div class="options-holder">

        <div class="option" (click)="openaddpostscreen('t')">
          <div class="icon-wrapper"><img src="../../../assets/images/textpost.png" alt=""></div> 
          <span class="optionname">Text</span>
        </div>
  
        <div class="option" (click)="openaddpostscreen('i')">
          <div class="icon-wrapper">  <img src="../../../assets/images/imagepost.png" alt=""></div> 
          <span class="optionname">Image</span>
        </div>
  
        <div class="option" (click)="openaddpostscreen('l')">
          <div class="icon-wrapper"><img src="../../../assets/images/linkpost.png" alt=""></div>
          <span class="optionname">link</span>
        </div>
  
        <div class="option" (click)="openaddpostscreen('v')">
        <div  class="icon-wrapper">    <img src="../../../assets/images/videopost.png" alt=""></div>
          <span class="optionname">Video</span>
        </div>
  
        <div class="option" (click)="openaddpostscreen('a')">
        <div class="icon-wrapper">  <img src="../../../assets/images/audiopost.png" alt=""></div>
          <span class="optionname">Audio</span>
        </div>
  
      </div>

</div>




    <div class="posts-container" *ngIf="showfeedBool">
        <div *ngFor="let post of posts">
          <app-post [post]="post"></app-post>
        </div>
    

        <div class="noiamfollowinguserlist" *ngIf="posts.length == 0">
          <img src="../../../assets/images/imagepost.png" alt="">
          <p>No posts</p>
           </div>

        
      </div>
      












      <div class="posts-container" *ngIf="showiamfollowinguserlistBool">
       
        
        
        <div class="user-card" *ngFor="let user of iamfollowinguserslist">
      
          <a [routerLink]="['/home/profile', user.otheruserid]" >
             <div class="user-profile">
            <img *ngIf="user.profileImageUrl" [src]="user.profileImageUrl" alt="Profile Image" class="userprofileimage">
            <div class="user-details">
             <div>
               <span> {{ user.username }}</span>
              <small ><b> : {{ user.date | date: 'mediumDate' }}</b></small>

             </div>
              <small *ngIf="user.date">{{ user.date | date: 'shortTime' }}</small>
            </div>

            <img src="../../../assets/images/threedots.png" alt="" (click)="toggleDropdown($event, user)" class="dropdown-toggle">
            
            <div *ngIf="user.showDropdown" class="dropdown-menu">
              <ul>
                <li (click)="removeIAMFollowingUser(user.otheruserid)"> <img src="../../../assets/images/unfollow.png" alt=""> Unfollow</li>
                <li> <img src="../../../assets/images/complain.png" alt=""> Report</li>
              </ul>
            </div>

            
          </div>
        </a> 
        </div>




        <div class="noiamfollowinguserlist" *ngIf="iamfollowinguserslist.length == 0">
                          <p>No following users</p>
        </div>
      </div>








      

      <div class="posts-container" *ngIf="showiamfolloeduserlistBool">
         
      
      
        <div class="user-card" *ngFor="let user of iamfolloweduserslist">
          <a [routerLink]="['/home/profile', user.otheruserid]" >
          <div class="user-profile">
            <img *ngIf="user.profileImageUrl" [src]="user.profileImageUrl" alt="Profile Image" class="userprofileimage">
            <div class="user-details">
             <div>
              <span> {{ user.username }}</span>
              <small ><b> : {{ user.date | date: 'mediumDate' }}</b></small>

             </div>
              <small *ngIf="user.date">{{ user.date | date: 'shortTime' }}</small>
            </div>

             

            
          </div>
        </a>
        </div>
    

        <div class="noiamfollowinguserlist" *ngIf="iamfolloweduserslist.length == 0">
          <p>Not followed</p>
</div>
      </div>







      




</div>
